extends ./layout.pug

block content        
    main
      .page
        .hero.wrapper
          img.hero__img(sizes='100vw', srcset='/static/img/Scotland_Forever_Sm.jpg 480w, /static/img/Scotland_Forever_Md.jpg 800w, /static/img/Scotland_Forever_Lg.jpg 1200w', src='/static/img/Scotland_Forever_Sm.jpg', alt='Cavalary Charge')
          h2.hero__heading Coming Soon!