extends ./layout.pug

block content
		main
			.page
				.hero.wrapper
					img.hero__img(sizes='100vw', srcset='/static/img/Coronation_Sm.jpg 480w, /static/img/Coronation_Md.jpg 800w, /static/img/Coronation_Lg.jpg 1200w', src='/static/img/Coronation_Sm.jpg', alt='Coronation of Napoleon')
				.home.wrapper
					p.home__intro
						| This site serves a simple repository for information regarding the Napoleonic Era. All information has been sourced from wikipedia but is presented here hopefully somewhat more interestingly so as to display the colours, campaigns and characters of the Napoleonic Era.
					.dynamic-row
						.dynamic-row__item
							.dynamic-row__img
								include ./partials/_tombstone.pug
							.dynamic-row__content
								a.dynamic-row__link(href='/characters/Napoleon')
									h4.dynamic-row__heading #{died[0].name}
								p.dynamic-row__text Died on this day #{died[0].niceDate}
						.dynamic-row__item
							.dynamic-row__img
								include ./partials/_battlefield.pug
							.dynamic-row__content
								a.dynamic-row__link(href='/characters/Napoleon')
									h4.dynamic-row__heading #{battles[0].title}
								p.dynamic-row__text Started on this day #{battles[0].niceDate}								
							