svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='256.021px', height='190.986px', viewbox='0 0 256.021 190.986', enable-background='new 0 0 256.021 190.986', xml:space='preserve')
  g#Layer_2
    path.cavalry-blue(fill='#DDDDDD', d='M226.902,36.818c-1.406-0.713-2.199-0.376-3.11,0.01c-0.006-0.003-0.009-0.007-0.015-0.01\
    c-0.446-0.237-0.92-0.435-1.402-0.619c-1.629-1.423-3.253-2.983-5.331-3.657c-0.511-0.166-0.937-0.059-1.251,0.188\
    c-0.534-0.428-1.32-0.54-1.958,0.072c-0.191,0.185-0.375,0.362-0.555,0.54c-0.291-0.224-0.598-0.435-0.922-0.632\
    c-0.027-0.201-0.089-0.402-0.187-0.587c0.226,0.146,0.505,0.239,0.849,0.239c1.653,0,1.936-2.047,0.855-2.757\
    c-0.242-0.294-0.609-0.493-1.105-0.493c-1.361,0-1.76,1.482-1.206,2.362c-0.293-0.175-0.652-0.26-1.067-0.184\
    c-0.119,0.021-0.227,0.056-0.34,0.083c-0.239,0.016-0.444,0.079-0.619,0.178c-4.211-1.186-8.808-1.025-12.831-2.634\
    c-0.057-0.269-0.141-0.531-0.276-0.771c0.025-0.087,0.033-0.179,0.042-0.27c0.065-0.024,0.13-0.042,0.196-0.068\
    c1.777-0.702,1.004-3.604-0.797-2.893c-1.396,0.552-2.531,0.833-3.749,0.764c-1.671-1.341-3.741-2.124-5.656-3.066\
    c-1.478-0.727-2.717-1.811-4.011-2.812c-1.049-0.812-2.305-1.073-3.429-1.734c-1.297-0.764-2.69,0.739-2.132,1.92\
    c-0.033,0.31,0.023,0.563,0.132,0.772c-0.929,1.093-1.038,2.83,0.606,3.636c3.548,1.738,6.462,4.442,10.185,5.839\
    c0.031,0.049,0.073,0.092,0.108,0.139c0.019,0.771,0.392,1.537,1.207,2.022c1.773,1.056,3.626,1.049,5.175,0.204\
    c2.554,1.521,5.185,2.746,8.374,3.018c-1.402,1.035-2.754,2.154-3.783,3.564c-1.562,2.141-2.464,4.761-3.473,7.229\
    c-0.43-0.223-0.941-0.244-1.413,0.032c-0.666,0.39-1.003,1.377-0.538,2.052c0.332,0.483,0.398,0.989,0.574,1.612\
    c0.206,0.732,0.568,1.449,1.16,1.941c0.628,0.522,1.504,0.617,2.121,0c0.539-0.538,0.629-1.598,0-2.121\
    c-0.132-0.109-0.208-0.213-0.271-0.324c0.2-0.127,0.378-0.319,0.505-0.608c0.985-2.248,1.842-4.668,2.994-6.841\
    c0.049-0.034,0.099-0.063,0.146-0.105c0.13-0.115,0.259-0.231,0.389-0.347c0.624,0.266,1.397,0.167,1.846-0.582\
    c1.027-1.713,2.894-2.684,4.35-3.998c0.359-0.325,0.666-0.65,0.964-0.967c0.972,0.217,1.91,0.55,2.884,1.093\
    c-0.015,0.354-0.006,0.726,0.062,1.139c0.173,1.063,0.691,1.63,1.371,1.97c-0.024,0.238-0.029,0.491,0.011,0.779\
    c0.276,1.971,2.688,2.07,4.145,1.867c0.906-0.127,1.812-0.356,2.728-0.4c0.552-0.026,1.078,0.01,1.597,0.038\
    c-0.564,0.514-1.14,1.034-1.707,1.625c-0.616,0.642-0.818,1.687-0.989,2.748c-0.69,0.54-1.374,1.086-2.019,1.664\
    c-1.815,1.629-3.437,3.499-5.696,4.516c-1.763,0.792-0.235,3.377,1.514,2.59c1.673-0.752,3.017-1.921,4.333-3.158\
    c0.426,0.521,1.188,0.776,1.917,0.408c1.246-0.629,1.813-1.665,2.163-2.833c1.072-1.28,2.27-2.468,3.25-3.83\
    c0.521-0.724,0.252-1.421-0.298-1.824c0.586-0.479,1.139-0.926,1.451-1.292c1.19-1.397,2.058-3.005,2.623-4.742\
    C227.79,37.905,227.478,37.109,226.902,36.818z')
    path.cavalry-red(fill='#EEEEEE', d='M132.944,52.492c-0.081,0.059-0.166,0.122-0.249,0.184c0.315,0.854-0.134,2.087-1.341,2.188\
    c-0.714,0.061-1.41,0.136-2.096,0.234c-1.791,1.092-3.734,1.862-5.636,1.378c-0.922-0.234-1.357-1.458-0.908-2.234\
    c-2.066,0.277-4.149,0.339-6.29-0.171c-2.132,0.405-4.779,0.18-7.088-0.001c-1.683,0.302-3.378,0.697-4.808,1.588\
    c-0.864,0.539-1.669,1.083-2.215,1.865c-0.304,0.988-0.514,2.072-1.027,3.127c-1.118,2.296-1.141,5.215-3.35,6.583\
    c-1.288,2.843-5.273,5.297-8.18,4.958c-0.426-0.05-0.945,0.128-1.513,0.47c0.073,0.021,0.145,0.048,0.218,0.069\
    c0.384-0.11,0.771-0.217,1.162-0.312c1.586-0.39,2.394,1.605,1.48,2.517c0.293,0.865,0.474,1.711,0.502,2.782\
    c0.031,1.178-1.286,2.146-2.257,1.146h-0.002c-0.93,1-1.984,1.882-3.02,2.5c-0.975,0.582-1.867,1.127-2.909,1.451\
    c-0.137,0.242-0.274,0.485-0.402,0.723c-0.088,0.163-0.176,0.336-0.265,0.513c1.844,1.985,0.092,3.947-2.329,4.677\
    c-0.238,0.072-0.486,0.067-0.723,0.011c-0.448,0.352-0.95,0.616-1.527,0.739c-1.833,0.391-2.635-2.321-0.945-2.846\
    c-0.724-0.895-1.492-2.16-1.55-2.609c-0.486-3.741,2.382-4.209,4.115-6.914c1.068-1.669,2.481-2.312,3.698-3.761\
    c1.067-1.271,1.606-2.981,3.109-3.861c1.624-0.951,3.432,0.247,5.084-0.643c1.147-0.617,2.591-1.334,3.312-2.503\
    c-0.025-0.432,0.112-0.869,0.452-1.177c0.189-0.722,0.775-1.003,1.374-0.941c0.523-0.67,0.933-1.773,1.25-2.972\
    c-0.027-0.078-0.053-0.157-0.08-0.237c-0.229-0.685,0.03-1.223,0.475-1.534c0.009-0.025,0.016-0.052,0.024-0.078\
    c0.133-0.689,0.24-1.344,0.324-1.896c-0.23-0.76-0.288-1.575,0.177-2.274c0.13-0.195,0.292-0.359,0.461-0.518\
    c0.477-1.061,1.263-1.785,2.477-2.477c0.881-0.502,1.864-0.81,2.885-1.02c0.117-0.086,0.242-0.164,0.39-0.215\
    c3.143-1.075,6.245-0.91,9.41-0.745c0.239-0.014,0.477-0.029,0.721-0.032c0.207-0.002,2.305-0.195,0.268-0.109\
    c-1.935,0.082-1.927-2.919,0-3c1.789-0.075,4.314,0.442,4.369,2.469c0.061,0.062,0.126,0.118,0.177,0.19l0.75,1.084\
    c0.137,0.197,0.2,0.41,0.214,0.624c3.703-0.206,7.397-1.56,11.074-1.784C133.816,49.598,134.043,51.695,132.944,52.492z')
  g#Layer_1
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#222222', d='M114.027,126.229c0.077-1.633,0.268-3.265,0.276-4.898\
    c0.002-0.368,0.006-0.739-0.015-1.107c-0.009-0.171-0.055-0.516-0.076-0.685c-0.024-0.105-0.049-0.211-0.08-0.313\
    c-0.025-0.088-0.069-0.2-0.114-0.309c-0.124-0.192-0.261-0.387-0.317-0.477c-0.235-0.231-0.896-0.756-0.989-0.849\
    c-0.772-0.511-1.579-0.966-2.41-1.375c-1.259-0.62-2.562-1.18-3.868-1.738c-0.417-0.078-0.834-0.155-1.252-0.233\
    c-1.719-0.324-3.438-0.651-5.159-0.971c-5.576-0.256-11.15-0.536-16.728-0.682c-0.554,0.053-1.108,0.106-1.662,0.157\
    c-4.296,0.393-8.465,0.414-12.727-0.372c-0.587-0.107-1.121-0.334-1.596-0.647c-1.268,0.682-2.509,1.415-3.681,2.249\
    c-0.17,0.122-0.342,0.244-0.512,0.368c-0.138,0.115-0.503,0.407-0.608,0.497c-0.642,0.551-1.26,1.122-1.862,1.716\
    c-1.077,1.062-2.502,1.599-3.926,1.6c-3.919,3.87-7.487,8.265-10.624,13.298c3.28,3.191,6.504,6.444,9.793,9.63\
    c3.089,2.991,4.406,6.595,3.948,10.855c-0.152,1.413-0.042,2.947-0.573,4.207c-3.149,7.507,0.476,11.973,6.351,16.092\
    c6.744,4.726,13.514,9.617,17.121,17.512c0.237,0.519,0.936,0.828,1.418,1.232h10.076c0.721-0.438,1.441-0.874,2.926-1.776\
    c-2.479-1.851-4.371-3.97-6.731-4.884c-6.127-2.374-10.655-6.674-15.113-11.192c-3.933-3.984-4.794-9.064-5.758-15.408\
    c8.499,2.592,16.267,4.827,23.911,7.427c1.223,0.418,2.525,2.387,2.687,3.766c0.361,3.107,2.132,4.269,4.791,4.602\
    c2.278,0.285,4.587,0.329,7.305,0.509c-1.805-8.029-7.052-12.617-13.625-15.466c-4.192-1.816-9.013-2.146-13.502-3.326\
    c-2.972-0.783-5.984-2.219-6.069-5.676c-0.118-4.781,0.503-9.579,0.838-14.831c10.181,4.495,20.15,5.985,30.239,5.504\
    c-0.368-0.71-0.577-1.537-0.577-2.479c0-2.416,1.684-4.757,4.07-5.347c0.299-0.073,0.599-0.147,0.905-0.188\
    c1.379-0.187,2.725-0.239,4.052-0.163C114.088,130.147,113.937,128.135,114.027,126.229z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#AAAAAA', d='M251.443,148.005c-0.075-0.269-0.251-0.494-0.477-0.649\
    c-0.118-0.129-0.279-0.224-0.438-0.28c-0.044-0.016-0.087-0.03-0.129-0.045c-0.271-0.098-0.503-0.06-0.681,0.056\
    c-0.936-0.203-1.827-0.882-2.709-1.191c-0.58-0.206-1.188-0.332-1.539-0.896c-0.085-0.139-0.162-0.271-0.238-0.401\
    c-0.001-0.009-0.001-0.02-0.004-0.029c-0.137-0.599-0.344-1.121-0.6-1.674c-0.269-0.574-0.896-0.535-1.292-0.205\
    c-0.038-0.052-0.089-0.118-0.104-0.139c-0.038-0.055-0.073-0.111-0.108-0.167c0.491-1.577-1.285-3.595-1.944-4.838\
    c-0.306-0.576-0.796-0.781-1.274-0.733c-0.555-0.743-1.077-1.365-1.434-1.736c-0.224-0.621-0.96-0.76-1.447-0.341\
    c-0.416,0.356-0.592,0.745-0.738,1.266c-0.056,0.197-0.034,0.38,0.035,0.539c-0.035,0.086-0.059,0.179-0.067,0.28\
    c-0.137,1.819-0.115,3.492,0.885,4.871c-0.016,0.087-0.013,0.182,0.001,0.282c-0.306,0.49-0.281,1.111,0.035,1.597\
    c0.029,0.127,0.079,0.246,0.138,0.359c0,0.214,0.058,0.43,0.161,0.601c0.32,0.525,0.874,0.657,1.436,0.522\
    c0.245-0.059,0.447-0.204,0.596-0.393c0.021-0.019,0.044-0.035,0.067-0.055c0.062-0.056,0.114-0.118,0.16-0.185\
    c0.205,0.006,0.42,0.003,0.659-0.021c0.608-0.06,1.361,0.869,1.863,1.157c0.321,0.185,0.67,0.261,1.022,0.273\
    c0.025,0.073,0.052,0.145,0.079,0.216c-0.236-0.086-0.493-0.071-0.71,0.046c-0.026-0.004-0.054-0.011-0.081-0.016\
    c-0.603-0.081-1.324,0.373-1.081,1.081c0.074,0.219,0.193,0.453,0.326,0.697c-0.184,0.571-0.364,1.144-0.549,1.714\
    c-0.3,0.93-0.843,1.733-1.096,2.687c-0.188,0.714,0.627,1.428,1.291,0.993c1.036-0.682,2.249-0.98,3.054-1.975\
    c0.427-0.526,0.472-1.346,0.932-1.824c0.509-0.529,1.637-0.493,2.307-0.548c0.324-0.026,0.552-0.194,0.69-0.414\
    c0.048,0.021,0.097,0.039,0.146,0.059c0.088,0.415,0.4,0.765,0.83,0.899c0.394,0.123,0.815,0.123,1.208,0\
    C251.233,149.255,251.616,148.637,251.443,148.005z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#AAAAAA', d='M187.343,31.416c-3.399,1.736-7.332,2.43-10.836,3.953\
    c-1.859,0.809-3.772,1.479-5.638,2.27c-1.951,0.828-3.77,1.935-5.829,2.488c-0.322,0.088-0.479,0.32-0.511,0.574\
    c-0.15-0.107-0.35-0.146-0.587-0.062c-1.259,0.454-2.531,0.867-3.78,1.348c-1.202,0.463-2.475,0.669-3.644,1.216\
    c-0.854,0.4-0.11,1.663,0.739,1.265c1.05-0.492,2.219-0.631,3.293-1.068c1.238-0.505,2.524-0.894,3.781-1.348\
    c0.311-0.112,0.462-0.361,0.491-0.622c0.154,0.12,0.36,0.176,0.606,0.11c1.698-0.457,3.245-1.256,4.818-2.023\
    c1.936-0.945,4.011-1.607,5.992-2.451c2.215-0.942,4.502-1.659,6.762-2.481c1.695-0.617,3.469-1.081,5.08-1.904\
    C188.924,32.25,188.182,30.986,187.343,31.416z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#AAAAAA', d='M161.224,42.403c0.095-0.427-0.125-0.902-0.674-0.838\
    c-2.149,0.255-3.954,1.357-5.864,2.23c-1.433,0.417-2.862,0.845-4.291,1.278c-0.954,0.174-1.916,0.328-2.852,0.551\
    c-1.502,0.356-3.181,0.603-4.614,1.165c-0.868,0.341-0.49,1.758,0.391,1.412c0.025-0.011,0.054-0.019,0.08-0.028\
    c0.144,0.261,0.426,0.435,0.798,0.321c0.361-0.11,0.724-0.221,1.086-0.331c0.157,0.209,0.416,0.34,0.744,0.259\
    c4.151-1.034,8.426-1.597,12.329-3.442c0.366-0.174,0.437-0.506,0.332-0.797c0.732-0.201,1.466-0.401,2.202-0.594\
    C161.488,43.434,161.525,42.773,161.224,42.403z')
    path(fill='#222222', d='M178.493,81.845c-1.399-1.387-2.502-3.213-3.285-5.037c-0.674-1.566-1.658-2.485-3.057-3.288\
    c-1.408-0.807-2.588-2.082-2.672-3.738c-0.07-1.418-0.487-2.351-1.678-3.034c-0.241-0.139-0.938-0.387-0.511-0.693\
    c0.523-0.377,0.255-1.54,1.329-1.287c0.408,0.097,0.969,0.481,1.182-0.156c0.203-0.604-0.114-1.163-0.624-1.564\
    c-1.167-0.92-2.541-1.431-3.94-1.815c-0.89-0.245-0.812-0.545-0.281-1.05c1.404-1.338,1.202-3.092,1.199-4.771\
    c-0.002-0.762-0.604-1.057-1.078-0.452c-0.924,1.181-2.254,1.894-3.213,2.984c-0.65,0.74-1.243,1.044-2.108,0.616\
    c-0.881-0.436-0.78-1.291-0.706-2.057c0.09-0.909,0.365-1.803,0.419-2.712c0.039-0.656-0.222-1.275-1.085-0.769\
    c-2.378,1.399-4.253,3.29-4.738,6.076c-0.249,1.426-1.447,1.947-2.171,1.908c-3.116-0.168-5.484,2.105-8.509,2.252\
    c-2.82,0.136-5.03,2.162-7.578,3.203c-1.39,0.568-2.322,1.922-2.733,3.447c-0.232,0.862-0.778,1.437-1.419,1.961\
    c-0.511,0.419-0.935,0.343-1.137-0.335c-0.518-1.728-1.961-2.215-3.458-2.785c-2.014-0.768-4.224-0.653-6.197-1.635\
    c-1.297-0.646-1.458-1.326-0.737-2.442c0.546-0.846,1.277-1.693,1.012-2.767c-0.53-2.143,0.677-2.743,2.42-2.98\
    c0.362-0.05,0.738-0.114,1.069-0.26c1.753-0.777,2.625-0.188,2.79,1.688c0.099,1.117,0.583,1.096,1.451,0.524\
    c1.214-0.799,2.004-2.045,3.562-3.189c-1.021,1.333-2.102,2.04-2.412,3.57c1.701-1.164,3.04-2.331,4.32-3.799\
    c-0.311,0.94,0.252,1.466,0.624,1.973c-0.318,0.585-1.006-0.134-0.965,0.219c0.087,0.748-1.246,0.986-0.537,1.933\
    c0.242,0.324-0.277,0.86-0.73,0.999c-0.314,0.095-0.678,0.614-1.052-0.012c-0.3-0.5-0.73-0.465-0.872,0.103\
    c-0.152,0.608-0.303,1.334,0.146,1.851c0.559,0.646,1.381,0.27,2.093,0.294c0.786,0.026,0.607-0.639,0.75-1.078\
    c0.127-0.39,0.267-0.775,0.428-1.152c0.974-2.285,2.905-4.295,2.053-7.115c-0.042-0.142,0.057-0.467,0.14-0.485\
    c1.43-0.327,2.38-1.687,3.938-2.012c-0.128,0.896-1.042,0.599-1.243,1.278c1.084,0.446,1.88-0.794,2.827-0.537\
    c1.952,0.528,2.147-1.237,2.681-2.194c0.522-0.936,2.411-3.077,3.582-3.115c1.002-0.033,1.846-0.428,2.684-0.912\
    c1.591-0.921,3.405-1.412,4.896-2.53c0.173-0.659,0.637-1.135,1.049-1.641l-0.03,0.026c-0.576-0.648-1.441-0.353-1.379,0.165\
    c0.087,0.71-0.211,0.674-0.597,0.866c-1.366,0.684-2.813,1.029-4.324,1.158c-0.213,0.018-0.507,0.031-0.616,0.165\
    c-1.45,1.798-3.703,1.65-5.607,2.335c-0.292,0.105-0.472-0.154-0.684-0.344c-1.159-1.037-4.669-1-5.883,0.173\
    c0.702-0.592,1.457,0.326,2.271-0.265c0.303-0.22,1.098,0.229,1.659,0.399c0.05,0.016,0.056,0.353,0.049,0.354\
    c-0.45,0.079-0.898,0.905-1.364,0.028c-0.008-0.014-0.084,0.006-0.126,0.016c-1.13,0.253-2.357,2.634-1.806,3.714\
    c0.174,0.339,0.509,0.499,0.086,0.827c-0.42,0.323-0.646,0.044-0.875-0.291c-0.18-0.264-0.391-0.516-0.629-0.727\
    c-0.393-0.347-0.926-0.401-1.246-0.037c-0.37,0.419,0.235,0.604,0.45,0.824c0.351,0.357,0.791,0.627,1.291,1.008\
    c-0.965,0.309-2.11-0.986-2.532,0.657c-0.758-0.75-0.172-1.44-0.112-2.037c-0.546-0.334-0.747,0.666-1.124,0.214\
    c-0.63-0.756-0.042-1.549,0.185-2.402c-0.779,0.262-0.732,0.806-0.896,1.395c-0.333,1.197,0.086,3.107-1.384,3.405\
    c-2.049,0.417-4.103,0.886-6.175,1.23c-1.679,0.28-2.28-0.044-1.463-1.823c0.339-0.741,1.144-1.972-0.699-2.221\
    c-0.955-0.129-1.265,0.68-1.968,1.372c0.142-2.463-0.913-1.335-1.838-0.935c-0.93,0.402-1.458,1.467-2.708,1.637\
    c0.296-0.86,1.552-2.107-0.741-1.574c0.565-0.96,1.264-1.356,2.21-1.4c1.129-0.052,2.178-0.204,0.975-1.657\
    c-0.007-0.009,0.105-0.115,0.198-0.214c0.834,0.47,1.109,1.529,2.077,1.899c2.372,0.906,4.501-0.297,6.679-0.781\
    c0.899-0.2,0.17-1.494,0.513-2.212c0.115-0.24,0.321-0.438,0.494-0.646c0.238-0.289,0.281-0.672,0.041-0.884\
    c-1.383-1.223-0.305-1.47,0.667-1.803c0.344-0.118,0.699-0.266,0.984-0.482c0.452-0.346,1.213-0.557,1.107-1.256\
    c-0.096-0.637-0.835-0.642-1.341-0.782c-1.153-0.321-2.479-0.478-2.899-1.8c-1.04-3.281-3.424-5.5-5.837-7.717\
    c0,0.003,0,0.006,0.001,0.01c-0.105,0.046-0.201,0.068-0.291,0.084c-0.424,0.128-0.687-0.138-0.91-0.573\
    c-0.315-0.616-0.398-1.188-0.097-1.713c-0.262,0.476-0.204,1.008,0.034,1.561c0.199,0.459,0.483,0.803,0.974,0.726\
    c0.083-0.025,0.169-0.061,0.265-0.117c0.008,0.009,0.017,0.016,0.025,0.023c-0.373-2.669,0.432-3.356,3.015-2.541\
    c0.521,0.164,1.004,0.444,1.514,0.652c1.804,0.733,3.532,0.45,4.796-0.944c1.129-1.245,1.406-2.767,0.949-4.592\
    c-0.7-2.791-3.308-3.344-5.122-3.966c-4.978-1.707-10.104-1.384-14.499,1.946c-1.723,1.307-3.779,2.303-4.799,4.528\
    c-1.39,3.029-1.825,5.775-0.646,9.169c1.139,3.275,2.631,6.145,4.754,8.787c0.251,0.312,0.646,0.79,0.558,1.05\
    c-0.485,1.426,0.066,1.851,1.412,1.711c0.239-0.025,0.475,0.126,0.453,0.4c-0.01,0.115-0.273,0.33-0.324,0.305\
    c-1.329-0.663-2.496,0.951-3.849,0.262c-0.245-0.125-0.808-0.191-1.049,0.418c0.778,0.225,1.505,0.534,2.259,0.633\
    c1.568,0.203,3.152,0.295,4.711,0.432c-1.593,1.936-2.938,2.35-5.483,1.673c-0.328-0.088-0.687-0.108-0.888,0.184\
    c-0.409,0.595-0.919,0.671-1.367,0.188c-0.591-0.637,0.284-0.77,0.505-1.127c0.175-0.28,0.703-0.482,0.309-0.889\
    c-0.266-0.274-0.589-0.01-0.868,0.154c-0.826,0.487-1.665,0.954-2.484,1.453c-0.233,0.144-0.445,0.414-0.715,0.19\
    c-0.346-0.286-0.028-0.588,0.085-0.862c0.486-1.188,1.892-0.99,2.75-1.79c-1.131-0.039-2.047,0.274-2.897,0.884\
    c-0.513,0.368-1.07,0.81-1.756,0.383c-1.305-0.814-2.283-0.021-3.237,0.68c-1.249,0.917-2.577,1.827-2.143,3.799\
    c-0.251-1.327-0.822-2.609,0.272-3.728c0.246-0.253,0.766-0.512,0.102-0.938c-0.448-0.289-0.768-0.804-1.384-0.243\
    c-0.639,0.581-1.005,1.272-1.206,2.102c-0.343,1.411-0.477,2.812,0.038,4.23c-1.699-1.876-0.471-3.86-0.191-5.876\
    c-0.965,0.488-1.382,1.293-1.348,2.09c0.061,1.418-0.645,1.541-1.766,1.499c-1.123-0.042-1.994,0.296-1.341,1.723\
    c0.113,0.247-1.33,4.551-1.582,4.647c-1.15,0.44-2.283,0.943-3.462,1.284c-1.919,0.554-2.339,1.876-1.042,3.587\
    c0.46-0.469,0.101-0.944,0.017-1.407c-0.107-0.6-0.073-1.09,0.66-1.269c2.553-0.624,4.941-1.856,7.613-2.052\
    c0.399-0.028,0.725-0.021,0.485,0.463c-0.742,1.498,0.174,2.502,0.99,3.547l-0.027-0.024c0.253,0.566,0.173,0.876-0.694,1.134\
    c-2.731,0.811-5.409,3.174-8.417,0.273c1.709,1.791,0.234,3.125-0.715,3.881c-3.717,2.961-5.819,7.323-9.371,10.406\
    c-1.099,0.954-0.953,2.214,0.041,3.301c0.34,0.373,0.687,0.743,1.059,1.084c0.562,0.516,0.449,0.776-0.261,0.979\
    c-1.44,0.409-2.86,0.49-4.327,0.101c-2.078-0.556-4.199-1.301-6.35-0.735c-3.012,0.792-6.184,0.051-9.18,1.173\
    c-0.782,0.293-1.685,0.355-2.275,0.99c-0.616,0.662-1.333,0.807-2.169,0.983c-1.912,0.403-3.973,0.23-5.725,1.261\
    c-2.131,1.254-4.244,2.419-6.823,2.553c-1.814,0.094-3.62,0.771-5.415,0.713c-2.56-0.082-4.449,1.34-5.763,2.935\
    c-1.277,1.549-2.278,3.374-3.78,4.803c-0.286,0.271-0.574,0.681-0.609,1.051c-0.158,1.648-1.314,2.582-2.44,3.509\
    c-1.574,1.296-2.741,2.818-3.128,4.861c-0.076,0.395-0.06,0.877-0.629,0.925c-1.073,0.089-1.586,1.022-2.38,1.529\
    c-1.893,1.206-3.32,3.404-6.035,2.926c-0.124-0.022-0.272,0.037-0.398,0.088c-0.437,0.175-0.872,0.388-0.893,0.932\
    c-0.02,0.536,0.464,0.466,0.793,0.567c0.407,0.125,0.798,0.391,0.294,0.726c-1.613,1.078-2.514,2.889-4.191,3.911\
    c-0.897,0.549-2.279,0.73-2.237,2.268c0.002,0.086-0.271,0.234-0.432,0.261c-0.697,0.115-1.863,0.063-1.776,0.78\
    c0.08,0.662,1.279,0.24,1.975,0.358c0.314,0.053,0.642,0.025,0.961,0.055c0.309,0.028,0.467,0.151,0.447,0.527\
    c-0.059,1.128,0.168,2.401-1.602,2.398c-0.19,0-0.366,0.264-0.284,0.562c0.464,0.249,0.888-0.058,1.29-0.188\
    c0.923-0.301,1.846-0.906,1.935,0.833c0.037,0.717,0.681,0.408,1.095,0.306c2.127-0.528,3.733-1.979,5.338-3.303\
    c2.174-1.794,4.798-2.216,7.354-2.729c1.396-0.28,2.532-0.743,3.743-1.457c1.437-0.848,1.554-2.859,3.282-3.308\
    c1.214-0.316,1.867-1.263,2.057-2.351c0.211-1.215,0.901-1.382,1.833-1.21c1.2,0.222,2.164-0.039,2.927-1.021\
    c0.546-0.704,1.014-0.611,1.459,0.156c0.689,1.191,1.375,2.371,1.912,3.65c1.115,2.66,2.271,5.279,4.109,7.588\
    c2.107,2.647,5.096,4.455,6.762,7.554c0.625,1.164,2.117,1.806,3.494,0.388c0.397-0.409,1.01-0.612,1.394-0.836\
    c0.591,1.284-4.118,1.086-0.565,3.098c0.02,0.012-0.003,0.087,0.003,0.13c0.032,0.232,0.09,0.426,0.17,0.59\
    c1.583,0.081,3.131,0.701,4.266,1.916c0.233,0.249,0.476,0.488,0.727,0.72c0.299,0.218,0.729,0.531,0.942,0.658\
    c0.565,0.338,1.141,0.658,1.735,0.942c0.135,0.064,0.271,0.129,0.407,0.192c0.786,0.299,1.584,0.566,2.391,0.81\
    c0.018-0.506,0.095-1.025,0.24-1.555c0.502-1.826,1.604-3.11,3.011-3.885c-0.074-0.132-0.151-0.263-0.233-0.392\
    c-0.744-1.163-0.797-2.22-0.833-3.403c-0.024-0.814,0.36-1.158,1.221-0.99c1.178,0.23,3.687,2.53,3.893,3.729\
    c0.01,0.061,0.024,0.118,0.037,0.177c0.364,0.018,0.729,0.051,1.096,0.112c0.695,0.116,1.379,0.288,2.053,0.504\
    c0.128,0.013,0.256,0.028,0.384,0.039c1.387,0.123,2.779,0.199,4.162,0.355c2.449,0.277,4.925,0.64,7.138,1.609\
    c0.229-0.634,0.774-0.827,1.614-0.498c0.675,0.265,1.333,0.538,2.066,0.695c3.845,0.825,7.72,1.437,11.629,1.833\
    c1.013,0.103,1.505,0.342,0.873,1.417c-0.248,0.423,0.104,0.729,0.455,0.848c1.048,0.359,1.538,1.257,2.127,2.069\
    c1.363,1.879,2.695,2.072,4.685,0.863c2.289-1.39,4.148-3.777,7.312-3.245c0.258,0.043,0.585-0.234,0.858-0.399\
    c1.683-1.02,3.47-1.187,5.29-0.52c6.209,2.279,12.596,1.422,18.902,0.855c1.5-0.135,2.426-0.009,3.155,1.026\
    c0.906,1.285,2.501,2.116,2.714,3.856c0.128,1.048-3.32,5.584-4.359,5.847c-0.044,0.011-0.093,0.026-0.135,0.017\
    c-2.285-0.537-4.166,0.754-6.206,1.346c-1.34,0.388-2.444,0.211-3.3-1.169c-0.662-1.069-1.605-1.963-2.092-3.169\
    c-0.19-0.472-0.604-0.687-1.122-0.598c-2.436,0.422-4.847-0.593-7.296-0.081c-1.226,0.256-2.407,0.619-2.849,1.834\
    c-0.423,1.164,0.1,2.179,1.275,2.699c0.502,0.222,0.499,0.575,0.49,0.996c-0.023,1.253,0.724,1.741,1.845,1.97\
    c1.019,0.207,2.035,0.301,3.099,0.185c-0.554,1.981-0.44,2.191,1.375,2.691c1.192,0.33,2.343,0.669,3.168,1.738\
    c0.449,0.583,1.181,0.822,1.977,0.78c1.225-0.064,2.523,0.198,3.656,0.021c1.886-0.296,3.876-0.099,5.657-1.426\
    c1.77-1.318,3.367-2.823,5.11-4.159c0.771-0.591,1.548-0.72,1.862,0.304c0.794,2.586,0.615,3.714-1.937,4.471\
    c-0.341,0.101-0.678,0.255-0.982,0.44c-1.658,1.01-3.234,2.057-4.72,3.39c-1.326,1.189-1.515,2.322-1.757,3.784\
    c-0.271,1.644,1.062,2.409,1.588,3.605c0.958,2.184,2.59,3.544,4.641,4.529c0.444,0.214,0.935,0.425,1.428,0.043\
    c3.401-2.636,6.812-5.262,6.708-10.208c-0.005-0.253,0.099-0.567,0.263-0.756c0.901-1.027,1.795-2.07,2.771-3.024\
    c2.219-2.173,2.345-4.195,1.174-7.063c-0.948-2.319-2.25-4.638-1.532-7.455c0.463-1.815,0.211-3.698-1.539-5.076\
    c-0.772-0.607-1.187-1.576-1.144-2.69c0.042-1.062-0.125-2.11-1.026-2.878c-1.01-0.859-1.916-1.824-3-2.62\
    c-1.469-1.077-3.231-1.942-3.673-4.015c-0.218-1.026-0.921-1.808-1.715-2.433c-0.852-0.671-0.973-1.465-0.803-2.445\
    c0.354-2.062,1.312-3.9,2.038-5.829c1.335-3.544,1.88-7.062-0.354-10.527c-0.599-0.929-0.882-2.142-0.299-3.162\
    c1.574-2.76,2.402-5.846,3.896-8.636c0.318-0.596,0.639-0.783,1.306-0.458c6.975,3.402,14.232,3.813,21.692,2.005\
    c0.452-0.109,0.812-0.392,1.214-0.586c1.743-0.849,2.816-2.559,4.574-3.398c1.29-0.616,1.601-1.983,1.405-3.191\
    c-0.156-0.963,0.173-1.344,0.836-1.718c1.476-0.83,1.953-2.062,1.995-3.757C180.677,85.749,180.362,83.698,178.493,81.845z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#222222', d='M164.689,40.594c0.183,0.965,0.44,1.028,1.452,0.585\
    c5.65-2.481,11.378-4.788,17.073-7.169c1.771-0.741,3.61-1.316,5.376-2.036c1.469-0.6,2.32,0.257,3.006,0.959\
    c0.667,0.683,0.834,0.37,1.2-0.056c0.716-0.832,1.446-1.558,1.156-2.923c-0.158-0.741,0.659-1.561,0.974-2.376\
    c0.229-0.587,0.109-2.136,1.691-1.494c0.386,0.156,0.46-0.38,0.463-0.675c0.004-0.429-0.244-0.327-0.555-0.228\
    c-0.885,0.281-1.876-0.14-2.624,1.092c-0.335,0.553-2.043-0.305-2.976-0.794c-2.092-1.097-3.92-2.662-6.129-3.57\
    c-0.397-0.163-0.53-0.48-0.499-0.888l-0.027,0.027c1.984,0.64,3.607,1.912,5.288,3.068c0.854,0.587,1.698,1.1,2.773,1.02\
    c0.41-0.031,0.963,0.485,1.209-0.146c0.223-0.574,0.144-1.3-0.398-1.633c-1.025-0.628-0.996-1.1,0.113-1.486\
    c-0.341-0.596-1.277,0.201-1.108-0.487c0.206-0.843,0.859-1.702,1.874-1.757c1.458-0.077,2.926-0.009,4.386,0.068\
    c0.754,0.04,1.148-0.136,1.393-0.933c0.559-1.827,1.438-3.596,0.422-5.536c-0.101-0.192-0.171-0.424,0.133-0.566\
    c1.056-0.496,0.415-1.173,0.182-1.805l0.021,0.031c-0.02-1.698-0.074-3.396-0.044-5.092c0.019-1.056-0.359-1.453-1.399-1.126\
    c-0.617,0.193-1.462,0.2-1.422-0.52c0.05-0.92-1.334-1.842,0.079-2.784c2.946-1.963,5.963-1.824,8.567,0.519\
    c0.134,0.121,0.272,0.292,0.433,0.323c2.7,0.527,2.324,2.599,2.195,4.477c-0.067,0.992,0.069,1.795,0.897,2.434\
    c0.748,0.578,1.098,1.341,0.807,2.306c-0.13,0.426-0.005,0.809,0.185,1.19c0.623,1.251,0.247,2.073-0.764,3.096\
    c-1.858,1.881-1.784,4.416-1.465,6.864c0.134,1.021,0.225,1.939-0.238,2.936c-0.565,1.218,0.61,2.866,1.968,2.931\
    c0.597,0.028,1.196,0.068,1.79,0.032c1.458-0.088,2.562,0.348,3.274,1.743c0.385,0.754,1.044,1.369,1.725,2.23\
    c-2.046-0.378-2.88,1.185-4.248,2.523c0.265-0.791,0.41-1.229,0.659-1.971c-1.664,1.365-2.261,2.869-2.263,4.637\
    c-0.001,0.458-0.308,1.351,0.796,0.636c0.436-0.282,0.387,0.276,0.4,0.576c0.092,2.076,1.224,2.841,3.249,2.488\
    c0.988-0.172,2.023-0.757,3.101,0.544c0.574,0.694,2.331,0.33,3.558,0.17c0.267-0.034,0.527-0.127,1.264-0.309\
    c-2.176,2.398-3.614,4.732-6.053,6.495c-2.214,1.6-4.353,3.505-6.326,5.496c0.372-0.107,0.879-0.417,1.087-0.278\
    c0.426,0.282-0.068,0.724-0.101,1.109c-0.03,0.35-0.253,0.784,0.216,0.96c0.409,0.153,0.479-0.307,0.673-0.538\
    c0.678-0.804,1.404-1.568,2.041-2.403c0.593-0.778,1.319-1.076,2.269-0.952c0.788,0.102,1.429-0.2,1.835-0.852\
    c0.492,0.24-0.133,0.677,0.549,0.962c-0.025-1.539,1.592-2.341,1.486-3.939c-0.012-0.175,0.296-0.35,0.352-0.553\
    c0.097-0.358,1.566-0.582,0.113-1.215c-0.192-0.085,0.566-1.359,1.137-1.839c1.382-1.163,1.728-2.922,2.636-4.278\
    c1.822-2.72-0.55-2.422-1.732-3.076c-0.231-0.13-0.468-0.252-0.928-0.497c0.852-0.261,1.567-0.145,2.122-0.722\
    c0.865-0.898,1.506-1.56,0.856-3.042c-0.542-1.235-0.421-2.779-0.516-4.19c-0.099-1.473,0.908-1.813,2.039-1.567\
    c1.274,0.277,2.577,0.633,3.171,2.093c0.419,1.032,1.126,1.367,2.166,0.591c0.746-0.558,1.487-0.104,2.181,0.273\
    c2.063,1.126,2.926,0.836,3.519-1.374c0.383-1.429,0.774-2.795,1.801-3.929c0.522-0.576,0.688-1.746,1.755-1.344\
    c0.857,0.323,1.307,1.353,1.139,2.168c-0.518,2.511,0.717,5.208-0.875,7.601c-0.319,0.481-0.003,1.056,0.395,1.5\
    c1.516,1.7,2.112,3.559,1.241,5.818c-0.547,1.416-0.185,2.951,0.642,4.083c1.403,1.924,0.89,3.908,0.639,5.909\
    c-0.09,0.726-0.089,1.022,0.773,1.167c1.212,0.201,2.003,1.794,1.485,2.911c-0.293,0.632-0.301,1.366-0.573,1.89\
    c-1.419,2.725-2.735,5.579-5.677,7.11c-0.446,0.232-0.833,0.211-1.311,0.09c-1.526-0.386-2.441,0.538-2.296,2.05\
    c0.194,2.006,1.152,3.42,2.651,4.75c1.592,1.414,2.938,3.134,4.242,4.834c1.017,1.324-0.236,4.513-2.106,5.377\
    c-1.185,0.545-1.411,1.182-0.721,2.227c0.891,1.346,1.853,2.656-0.238,3.873c-0.522,0.305-0.115,0.971,0.106,1.38\
    c1.35,2.493,2.326,5.178,3.924,7.546c0.85,1.26,0.275,2.94,1.282,4.273c0.377,0.499,0.545,0.961,1.214,1.146\
    c0.787,0.218,1.552,0.539,2.299,0.877c0.271,0.123,0.561,0.399,0.413,0.776c-0.175,0.445-0.53,0.222-0.821,0.145\
    c-0.514-0.135-1.023-0.288-1.667-0.471c1.081,1.603,2.472,1.915,3.9,1.052c1.053-0.637,2.494-0.54,3.262-0.135\
    c1.326,0.701,0.41,2.146-0.012,3.173c-0.354,0.864-1.46,1.263-0.461,2.637c0.536,0.733-0.884,1.797-1.854,2.161\
    c-1.349,0.505-2.407,0.833-3.094,2.516c-0.691,1.694-2.069,3.442-4.534,3.433c-0.97-0.004-1.464,0.934-1.25,1.936\
    c0.584,2.731,1.295,5.417,3.015,7.717c1.676,2.242-0.056,6.527-2.928,7.312c-0.687,0.187-1.639,0.137-1.723,1.053\
    c-0.081,0.877,0.341,1.622,1.168,2.182c0.787,0.532,1.42,1.292,2.113,1.96c0.705,0.682,0.785,1.455,0.502,2.392\
    c-0.769,2.521-0.087,3.689,2.48,4.613c0.945,0.34,2.135,0.348,2.648,1.781c-1.473-0.55-2.78-1.094-4.127-1.524\
    c-1.552-0.497-2.057-1.91-2.969-3.047c0.112,0.517,0.224,1.034,0.378,1.739c-1.559-0.654-3.42-0.581-3.961-2.717\
    c0.646-0.253,1.301,0.908,1.824-0.071c0.453-0.848,0.104-1.585-0.274-2.336c-0.92-1.829-2.557-3.099-3.693-4.755\
    c-0.515-0.75-1.279-0.264-1.55-0.088c-0.885,0.577,0.374,1.129,0.198,1.827c-0.257,0.162-1.168-0.539-0.865,0.454\
    c0.601,1.972,0.936,3.97,1.129,6.02c0.042,0.449,0.192,1.56,0.897,1.469c0.673-0.086,1.362-0.698,1.545-1.571\
    c1.029,0.812,1.742,1.968,3.142,2.158c0.28,0.038,0.63,0.283,0.521,0.688c-0.097,0.364-0.428,0.268-0.692,0.229\
    c-0.767-0.114-0.986,0.354-1,0.974c-0.043,1.824-0.873,3.41-1.538,5.038c-0.171,0.419-0.131,0.768,0.255,0.564\
    c0.797-0.424,1.998-0.172,2.393-1.248c0.288-0.787,1.384-0.479,1.511-0.986c0.629-2.492,3.067-1.526,4.486-2.471\
    c0.553-0.367,1.171-0.117,1.682,0.229c0.796,0.537-0.283,0.638-0.265,1.03c0.06,1.335-0.365,2.695,0.876,3.846\
    c1.375,1.276,0.753,3.275-1.025,3.935c-2.312,0.858-4.743,0.652-7.068,0.519c-2.724-0.158-4.367-4.911-2.828-7.51\
    c0.915-1.548,0.709-3.075-0.567-4.336c-0.406-0.402-0.845-0.493-1.38-0.312c-0.429,0.146-0.971,0.097-1.047-0.357\
    c-0.251-1.489-1.341-1.244-2.326-1.238c-0.713,0.003-1.349-0.22-1.944-0.588c-0.23-0.143-0.53-0.459-0.68-0.4\
    c-1.886,0.755-2.795-0.59-3.753-1.735c-1.378-1.647-3.488-1.42-5.223-2.147c-0.247-0.104-0.686-0.124-0.734-0.277\
    c-0.61-1.97-1.507-0.698-2.409-0.287c-1.692,0.77-3.447,1.082-5.041-0.199c-1.979-1.59-2.586-3.803-2.015-6.145\
    c0.494-2.025,0.586-3.948,0.092-5.949c-0.297-1.202-1.031-1.998-2.053-2.626c-1.092-0.67-2.211-1.324-3.048-2.323\
    c-0.346-0.41-0.78-0.487-1.233-0.472c-2.108,0.071-3.923-0.777-5.701-1.761c-0.346-0.19-0.715-0.627-1.101-0.304\
    c-0.392,0.327-0.6,0.929-0.338,1.386c1.766,3.077,1.543,6.674,2.654,9.91c0.288,0.838,0.851,1.628,1.44,2.306\
    c2.444,2.809,4.14,5.911,3.927,9.757c-0.079,1.429,0.171,2.704,0.883,3.947c0.679,1.184,0.352,2.02-1.07,2.303\
    c-0.492,0.098-0.969,0.272-1.461,0.379c-1.648,0.356-3.022-0.569-3.289-2.237c-0.141-0.87-0.386-1.574-1.458-1.611\
    c-0.742-0.027-1.195-0.375-1.511-1.146c-0.3-0.732-0.922-1.351-1.47-1.96c-1.251-1.389-1.252-2.361,0.043-3.658\
    c0.414-0.413,0.987-0.805,0.751-1.5c-0.227-0.66-0.865-0.817-1.471-0.802c-1.706,0.041-1.877-1.402-2.337-2.466\
    c-0.298-0.687-0.576-1.336-1.104-1.866c-2.268-2.281-4.853-4.334-5.547-7.741c-0.054-0.263-0.216-0.438-0.475-0.369\
    c-1.44,0.385-2.562-0.503-3.772-0.96c-1.956-0.738-3.083-2.659-2.678-4.731c0.338-1.726-0.552-2.369-1.959-2.406\
    c-2.278-0.059-2.427-1.877-2.751-3.325c-0.315-1.411-0.296-2.949,1.532-3.679c1.465-0.585,2.258-2.666,1.759-4.157\
    c-1.482-4.419-0.584-8.6,1.037-12.813c1.049-2.731,2.639-4.941,4.707-6.933c0.95-0.915,0.214-2.068-0.25-2.89\
    c-0.814-1.44-0.924-2.929-1.003-4.499c-0.071-1.413,0.462-2.498,1.621-3.104c1.437-0.75,2.708-1.773,4.433-2.057\
    c2.813-0.464,5.22-4.369,5.583-7.48c0.383-3.27-1.125-6.324-0.605-9.541c0.034-0.208-0.015-0.534-0.153-0.647\
    c-2.013-1.636-0.792-3.22,0.127-4.72c3.825-6.242,8.629-11.61,14.495-16.012c0.501-0.377,1.06-0.716,1.362-1.402\
    c-1.587-0.176-2.971,0.788-4.521,0.638c-0.24-0.023-1.4,0.238-0.604,1.265c0.478,0.613-0.273,0.946-0.743,0.919\
    c-2.589-0.154-4.121,1.518-5.631,3.194c-1.257,1.396-2.482,2.829-3.612,4.327c-1.021,1.353-0.384,3.164-1.082,4.621\
    c-0.217,0.452,0.062,2.064-1.258,0.585c-0.608-0.682-0.716,0.502-1.253,0.765c0.058-0.759-0.247-1.338-0.685-1.859\
    c0.146-0.111-0.074,0.022,0.087-0.066c0.032-0.019,0.012,0.012-0.062,0.093c-0.801-0.472-1.139-1.203-1.033-2.093\
    c0.23-1.959-0.396-3.962,0.754-5.905c0.497-0.841-0.711-1.881-1.281-2.69c-2.078-2.945-2.661-3.059-6.075-1.799\
    c-4.123,1.521-8.092,3.401-12.118,5.15c-4.107,1.784-8.356,3.238-12.545,4.838c-0.382,0.145-0.794,0.239-1.143,0.441\
    c-1.22,0.704-2.214,0.942-2.365-0.957c-0.001,0-0.03,0.026-0.03,0.027c0.973,0.396,1.947,0.886,2.657-0.438\
    c0.155-0.289,0.379-0.027,0.565,0.091c0.912,0.579,1.191-0.154,1.533-0.75c0.06-0.021,0.118-0.043,0.179-0.064\
    c1.286-0.124,1.904-1.285,2.894-1.866C164.562,40.607,164.626,40.6,164.689,40.594z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#333333', d='M171.328,8.353c0.973-0.152,1.155,0.588,1.315,1.244\
    c0.769,3.151,0.938,3.532,2.791,5.729c-0.494,0.339-0.708-0.189-1.024-0.331c-0.542-0.243-0.915-0.142-0.995,0.473\
    c-0.328,2.522-0.56,5.042,0.497,7.522c0.126-1.362,1.136-2.204,1.779-3.24c0.667-1.073,1.337-2.193,2.69-2.742\
    c-0.559-0.68-1.565-0.302-2.032-0.999c1.908-0.578,3.051,0.087,4.017,2.303l0.025-0.027c-0.262-0.069-0.54-0.105-0.786-0.213\
    c-1.591-0.695-3.159,0.208-2.843,1.94c0.329,1.806,0.713,3.878,2.438,4.964c0.77,0.483,1.963,0.324,2.961,0.506\
    c1.44,0.262,2.398,0.77,2.939,2.17c0.211,0.546,0.534,1.227,1.254,1.366c0.699,0.137,0.541-0.753,1.221-1.044\
    c-0.412,1.199-0.686,2.248,0.847,2.704c0.545,0.164,0.2,0.493-0.219,0.685c-3.743,1.715-7.642,3.026-11.499,4.443\
    c-0.606,0.223-1.168,0.761-2.299,0.46c2.427-1.012,4.552-1.904,6.682-2.781c1.185-0.487,2.389-0.934,3.568-1.433\
    c0.886-0.373,0.957-1.039,0.27-1.594c-1.414-1.145-2.714-2.513-4.639-2.836c-0.178-0.03-0.443-0.034-0.514-0.147\
    c-1.407-2.25-2.496-0.818-3.657,0.272c-0.396,0.371-0.869,0.691-1.362,0.92c-2.066,0.966-2.452,0.71-3.669-1.153\
    c-1.279-1.958-2.387-4.122-4.973-4.884c-1.105-0.326-1.593-1.466-1.526-2.684c0.029-0.511,0.174-1.064-0.49-1.254\
    c-0.535-0.152-0.895,0.158-1.311,0.519c-8.099,6.987-15.314,14.896-23.177,22.129c-0.194,0.18-0.424,0.321-0.695,0.523\
    c0.112-0.836,1.346-2.272,2.642-3.853c1.418-1.729,3.396-2.88,4.564-4.943c0.385-0.682,2.563-1.642,2.407-2.139\
    c-0.509-1.622,0.851-1.932,1.443-2.262c4.95-2.755,8.115-7.396,12.102-11.16c0.594-0.562,0.827-1.128,0.815-2.026\
    c-0.025-2.342,0.413-4.664,1.369-6.812c0.661-1.483,1.926-2.266,3.636-2.252c1.543,0.013,2.693,0.632,3.463,1.966\
    c-0.154,0.099,0.09-0.02-0.08,0.051C171.244,8.445,171.263,8.42,171.328,8.353z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#222222', d='M161.428,42.545c-0.316-0.238-0.633-0.478-1.267-0.955\
    c4.498-1.19,8.393-3.453,12.82-4.321c-2.763,1.108-5.528,2.217-8.292,3.325l0.044-0.019c-0.814,1.167-1.995,1.703-3.346,1.946\
    L161.428,42.545z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#333333', d='M136.182,48.508c1.306,0.424,1.313,1.425,1.378,2.262\
    c0.052,0.692-0.585,0.336-0.922,0.301c-0.569-0.062-1.024-0.402-0.721-0.99C136.163,49.602,136.333,49.148,136.182,48.508z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#222222', d='M196.505,16.98c0.294-0.21,0.646-0.649,0.874-0.592\
    c1.483,0.371,1.532-0.663,1.787-1.636c0.331,0.712,0.378,1.384-0.239,1.978c-0.517,0.497-1.06,0.904-1.795,0.303\
    c-0.142-0.115-0.431-0.051-0.651-0.069L196.505,16.98z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#222222', d='M184.299,21.021c-1.302-0.913-2.603-1.826-3.905-2.738\
    c-0.002,0-0.026,0.025-0.027,0.026c1.875,0.096,3.015,1.238,3.905,2.739L184.299,21.021z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#222222', d='M220.779,35.037c-1.453-0.361-1.891-1.452-2.887-1.534\
    c-0.074-0.006-0.211-0.314-0.171-0.429c0.098-0.269,0.356-0.197,0.575-0.14C219.297,33.2,219.693,34.106,220.779,35.037z')
    path(fill-rule='evenodd', clip-rule='evenodd', d='M198.361,18.474c-1.262,0-2.097,0-2.932,0\
    C196.286,18.496,197.069,17.456,198.361,18.474z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#333333', d='M88.103,65.893c0.737-0.094,1.415-0.724,2.592-0.26\
    C89.607,65.857,88.919,66.254,88.103,65.893z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#333333', d='M94.525,66c-0.037,0.024-0.077,0.047-0.111,0.076\
    c-0.342,0.305-0.499,0.921-1.142,0.697c-0.05-0.018-0.057-0.325,0.002-0.461c0.284-0.658,0.803-0.389,1.276-0.291\
    C94.552,66.023,94.525,66,94.525,66z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#222222', d='M196.48,16.964c-0.656,0.104-1.625,1.009-1.717-0.981\
    c0.463,1.062,1.161,0.869,1.738,0.996C196.505,16.98,196.48,16.964,196.48,16.964z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#333333', d='M155.65,45.264c0.266,0.139,0.84-0.175,0.757,0.439\
    c-0.036,0.262-0.405,0.401-0.677,0.3c-0.518-0.193-0.146-0.501-0.047-0.767C155.685,45.234,155.65,45.264,155.65,45.264z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#333333', d='M90.973,64.767c0.478,0.104,0.564,0.445,0.55,0.821\
    c-0.003,0.07-0.235,0.216-0.288,0.188C90.792,65.545,90.766,65.189,90.973,64.767z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#222222', d='M200.537,10.855c-0.076,0.486-0.326,0.605-0.732,0.327\
    c-0.16-0.109-0.242-0.303-0.067-0.443c0.307-0.247,0.574-0.065,0.82,0.146C200.558,10.887,200.537,10.855,200.537,10.855z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M98.333,102.621c-0.475-0.207-0.982-0.464-1.071-0.99\
    c-0.162-0.949-0.654-1.511-1.493-1.988c-2.496-1.415-3.419-4.395-5.746-5.973c-1.604-1.088-2.349-2.887-3.765-4.141\
    c-1.42-1.259-0.91-2.89-0.152-4.312c1.211-2.271,2.683-4.352,4.998-5.669c0.607-0.347,1.191-0.651,1.494,0.334\
    c0.04,0.131,0.042,0.309,0.13,0.384c1.652,1.4,1.783,2.345-0.75,2.723c0.561,0,1.125,0.036,1.683-0.006\
    c2.673-0.203,4.588,1.031,5.992,3.179c1.779,2.722,3.547,5.471,4.71,8.516c0.952,2.495,2.107,4.86,3.735,7.201\
    c-3.224-0.71-6.044,0.225-8.877,1.004c-0.438,0.119-0.699,0.084-0.919-0.29c0.204-0.17,0.324-0.428,0.577-0.546\
    C98.627,102.171,98.5,102.414,98.333,102.621z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M104.753,83.96c0.164-1.438,1.303-2.36,1.981-3.533\
    c1.267-2.192,3.425-3.111,5.717-3.821c1.044-0.324,2.134-0.624,2.634-1.788c0.119-0.277,0.478-0.492,0.611-0.148\
    c0.656,1.688,2.211,1.102,3.404,1.427c0.7,0.19,1.359,0.736,2.06-0.159c0.304-0.387,0.572,0.226,0.781,0.481\
    c0.249,0.306,0.47,0.567,0.9,0.253c0.263-0.192,0.345-1.222,0.833-0.391c0.328,0.557,0.838,1.468,0.038,2.116\
    c-0.566,0.458-1.18,0.812-1.58,1.477c-0.348,0.579-0.622,0.267-0.82-0.221c-0.967-2.393-2.726-2.954-4.838-1.145\
    c-0.307,0.263-0.642,0.283-1.025,0.261c-3.097-0.185-5.033,1.365-5.598,4.486c-0.214,1.18-0.562,2.231-1.881,2.61\
    c-0.922,0.265-1.791,0.354-2.547-0.428C105.021,85.021,104.773,84.562,104.753,83.96z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M115.308,41.109c1.115,0.604,1.837-0.606,2.846-0.573\
    c-0.811,0.999-3.656,1.953-4.626,1.624c-0.7-0.238-0.527-0.873-0.662-1.379c-0.105-0.396,0.251-1.115-0.387-1.121\
    c-0.497-0.005-0.701,0.629-0.727,1.174c-0.01,0.214-0.08,0.425-0.153,0.79c-0.846-0.475-0.667-1.354-1.046-1.911\
    c-0.039-0.058,0.055-0.275,0.145-0.336c0.179-0.121,0.33-0.033,0.431,0.16c0.081,0.155,0,0.595,0.338,0.346\
    c0.215-0.158,0.434-0.726,0.347-0.816c-1.439-1.495,0.35-2.2,0.771-3.218c0.143-0.346,0.782-0.533,0.5-1.009\
    c-0.402-0.682-0.689,0.323-1.122,0.164c-0.102-0.646,0.547-0.912,0.698-1.418c0.153-0.514,0.344-1.016,0.547-1.606\
    c-1.589-0.048-1.681,1.493-2.615,2.305c-0.084-0.96,0.049-1.718,0.6-2.363c1.055-1.236,2.405-2.096,3.793-2.896\
    c0.265-0.152,0.646-0.321,0.819,0.111c0.142,0.354-0.233,0.518-0.456,0.553c-1.168,0.185-0.05,1.764-1.292,1.896\
    c1.028,0.316,1.662-0.113,2.072-0.896c0.264-0.503,0.646-0.765,1.169-0.84c0.376-0.055,0.952,0.043,0.833,0.439\
    c-0.289,0.967-0.58,2.096-1.269,2.721c-0.454,0.411-0.469-0.284-0.163-0.663c0.104-0.128,0.165-0.293,0.444-0.811\
    c-1.168,0.625-1.747,1.521-2.759,1.671c-0.085,0.013,0.228,0.951,0.814,0.92c0.531-0.027,1.104-0.18,1.565-0.44\
    c1.086-0.611,1.758,0.117,2.489,0.662c0.224,0.167,0.134,0.506-0.102,0.56c-2.369,0.546-1.359,2.33-0.999,3.448\
    c0.412,1.281,0.139,1.549-1.001,1.844C116.565,40.351,115.795,40.402,115.308,41.109z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M162.038,100.938c-3.524-0.036-6.934-0.669-10.216-1.949\
    c-0.367-0.145-0.979-0.232-0.841-0.714c0.159-0.549,0.749-0.392,1.188-0.241c3.078,1.054,5.896,0.028,8.683-1.118\
    c0.621-0.256,1.092-0.239,1.776-0.089c1.935,0.424,3.692,1.207,5.449,2.049c0.354,0.17,0.894,0.108,0.864,0.689\
    c-0.024,0.478-0.484,0.476-0.816,0.599C166.156,100.897,164.111,101.044,162.038,100.938z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M66.784,94.388c-0.462-0.242,0.062-0.958-0.526-0.892\
    c-0.491,0.056-0.648,0.664-0.419,0.986c1.071,1.51-0.132,2.092-1.067,2.765c-0.456,0.328-0.646-0.131-0.762-0.439\
    c-0.293-0.783,0.055-1.524,0.179-2.289c0.039-0.24,1.09-1.369-0.473-0.907c-0.059,0.017-0.258-0.23-0.285-0.375\
    c-0.042-0.228,0.032-0.518,0.303-0.529c0.879-0.034,0.671-0.668,0.542-1.091c-0.365-1.188,0.312-2.135,0.626-3.164\
    c0.162-0.533,0.556-0.63,1.087-0.572c3.081,0.339,6.077,1.273,9.207,1.258c0.98-0.004,1.256,0.965,1.835,1.507\
    c0.084,0.078,0.084,0.394,0.001,0.476c-0.266,0.265-0.636,0.167-0.905,0.031c-2.037-1.018-4.256-0.205-6.344-0.664\
    c-1.5-0.329-1.995,0.669-2.171,1.815C67.495,93.066,67.152,93.67,66.784,94.388z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M153.738,86.899c1.303,1.266,2.98,1.217,4.625,1.264\
    c0.501,0.015,1.07,0.102,1.493-0.094c1.792-0.828,2.452,0.617,3.332,1.589c0.408,0.45-0.099,0.545-0.379,0.582\
    c-0.875,0.115-1.476,0.607-2.078,1.22c-0.815,0.828-1.675,1.077-2.942,0.521c-1.593-0.697-3.114-1.558-4.749-2.156\
    c-0.61-0.224-0.951-0.55-0.711-1.23C152.579,87.887,152.984,87.303,153.738,86.899z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M151.52,96.521c-2.468-0.094-2.675-0.451-1.6-2.398\
    c1.704-3.083,1.717-3.107,4.834-1.466c0.731,0.386,1.947,0.711,1.765,1.661c-0.185,0.961-1.235,1.554-2.288,1.662\
    C153.237,96.08,152.39,96.941,151.52,96.521z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M166.029,91.996c0.8,1.12,1.867,1.424,2.973,1.688\
    c1.06,0.253,2.02,0.86,3.157,0.859c0.377-0.001,0.725,0.163,0.772,0.626c0.049,0.453-0.302,0.521-0.598,0.75\
    c-2.223,1.724-4.166-0.648-6.274-0.376c-0.21,0.027-0.446-0.093-0.66-0.173c-0.583-0.218-1.789-0.032-1.509-0.891\
    C164.182,93.584,165.188,92.922,166.029,91.996z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M45.834,96.111c1.391,0.044,2.697-0.381,2.962,1.153\
    c0.237,1.375-1.074,1.259-1.851,1.79c-2.36,1.612-5.391,2.19-7.207,4.613c-0.45,0.602-0.804,0.66-1.375,0.128\
    c-0.958-0.894-0.749-3.277,0.39-4.044c1.423-0.96,2.859-1.905,4.237-2.927C43.98,96.093,45.014,95.847,45.834,96.111z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M123.094,44.854c-0.203,1.188,0.153,2.024,0.257,3.045\
    c-0.426,0.145-1.212,0.359-0.957,1.469c-0.687-2.14-2.157-3.613-3.515-5.165c-0.812-0.928-0.576-1.852,0.108-2.719\
    c0.421-0.534,1.068-0.371,1.523-0.187c0.671,0.272,0.127,0.625-0.104,0.925c-0.229,0.3-0.251,0.597,0.109,0.811\
    c0.462,0.275,0.57,0.829,0.55,1.192C120.944,46.405,122.011,45.521,123.094,44.854z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M118.728,109.443c-2.057,0.417-3.688-0.431-5.287-0.959\
    c-1.168-0.385,0.174-1.22,0.252-1.867c0.145-1.207,0.246-2.879,1.614-2.665c1.588,0.248,3.803,0.427,4.044,2.906\
    c0.019,0.194,0.159,0.395,0.288,0.557C120.942,109.05,121.637,110.338,118.728,109.443z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M112.099,84.841c0.325-0.012,0.61-0.076,0.576,0.468\
    c-0.126,1.97-1.05,2.844-3.176,2.943c-0.441,0.021-0.589-0.228-0.55-0.585C109.108,86.201,110.666,84.818,112.099,84.841z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M121.728,33.171c0.002,0.418,0.341,0.94-0.323,1.159\
    c-0.627,0.207-0.932-0.216-1.175-0.678c-0.517-0.977-1.269-2.266-0.463-3.025c0.678-0.639,1.341-1.47,2.432-2.187\
    c-0.231,1.78-2.592,3.138-0.444,4.763C121.753,33.204,121.728,33.171,121.728,33.171z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M160.957,95.549c-2.21,0.741-3.969,1.636-5.929,1.946\
    c-0.501,0.079-1.148,0.105-1.233-0.526c-0.078-0.581,0.597-0.398,0.941-0.524c1.374-0.506,2.86-0.647,4.183-1.331\
    C159.519,94.803,160.053,95.091,160.957,95.549z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M70.244,91.261c1.038,0.126,2.105,0.425,3.22,0.333\
    c0.443-0.037,0.8,0.223,0.914,0.682c0.038,0.152,0.008,0.419-0.091,0.49c-0.393,0.277-0.675,0.021-0.929-0.275\
    c-0.057-0.066-0.203-0.157-0.213-0.147c-1.101,1.173-2.043,0.583-3.042-0.194c-0.275-0.214-1.064,0.356-1.083-0.368\
    C68.998,90.991,69.749,91.352,70.244,91.261z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M174.096,95.578c-0.396-1.444,0.765-1.812,1.611-2.372\
    c0.385-0.255,0.714-0.06,0.896,0.321c0.207,0.438,0.321,0.94-0.237,1.173c-0.549,0.227-0.91,0.479-1.026,1.121\
    c-0.084,0.463-0.286,1.181-0.833,1.105C173.72,96.819,174.241,96.02,174.096,95.578z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M101.307,129.848c-0.082,0.868,0.133,1.85-1.055,2.383\
    c-0.398,0.179,1.108,0.916-0.046,1.514c-0.613,0.316-0.666,0.331-0.832-0.346C98.942,131.638,99.489,130.449,101.307,129.848z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M161.885,93.668c-0.06-0.034-0.334-0.101-0.397-0.255\
    c-0.062-0.153,0.022-0.483,0.156-0.581c0.951-0.691,1.927-1.352,2.909-2c0.129-0.085,0.372-0.107,0.502-0.042\
    c0.087,0.045,0.121,0.306,0.092,0.453C164.999,91.993,162.782,93.716,161.885,93.668z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M176.917,82.533c0.026,0.445-0.309,0.447-0.594,0.525\
    c-0.345,0.093-0.68,0.219-1.026,0.311c-0.821,0.217-0.885,1.738-2.123,1.23c0.453-1.064,0.837-2.167,1.389-3.177\
    c0.245-0.448,0.772-0.075,1.131,0.115C176.163,81.79,176.7,81.98,176.917,82.533z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M99.119,128.335c-0.103-2.012-0.831-3.991-0.29-6.019\
    C99.685,124.285,99.16,126.332,99.119,128.335z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M118.574,47.161c-0.87,0.729-1.782,1.372-2.866,1.723\
    c-0.391,0.126-0.792,0.354-1.125-0.036c-0.12-0.14-0.17-0.443-0.105-0.616c0.153-0.402,0.556-0.431,0.924-0.415\
    C116.511,47.864,117.526,47.517,118.574,47.161z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M129.166,44.871c-1.835,0.13-3.163,0.231-4.492,0.305\
    c-0.141,0.008-0.389-0.134-0.418-0.25c-0.074-0.285,0.184-0.329,0.404-0.412C126.006,44.007,127.323,44.109,129.166,44.871z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M51.736,98.672c-0.913-0.002-1.291-0.415-1.037-0.824\
    c0.794-1.281,1.623-2.626,3.245-2.989c0.685-0.154,0.962,0.479,0.779,0.988C54.166,97.396,52.169,97.323,51.736,98.672z')
    path.cavalry-red(fill-rule='evenodd', clip-rule='evenodd', fill='#EEEEEE', d='M79.204,85.161c0.721,0.729,0.955,1.429,1.154,2.117\
    c0.093,0.321,0.817,0.652,0.176,0.99c-0.44,0.233-0.815-0.191-1.157-0.521C78.583,86.979,79.058,86.171,79.204,85.161z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M141.067,168.456c-0.35-1.316-0.346-2.178,0.646-2.727\
    c0.31-0.172,0.541-0.06,0.666,0.229C142.955,167.283,141.494,167.409,141.067,168.456z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M111.463,75.763c0.822-0.688,1.639-1.384,2.477-2.052\
    c0.094-0.076,0.315,0.007,0.478,0.017c-0.039,0.257-0.001,0.564-0.129,0.764C113.666,75.459,112.602,75.631,111.463,75.763z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M153.278,79.299c0.386-0.008,0.627,0.271,0.485,0.503\
    c-0.38,0.626-0.806,1.267-1.363,1.714c-0.139,0.111-0.523-0.694-0.485-1.118C151.986,79.61,152.727,79.522,153.278,79.299z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M96.592,52.979c-0.054,1.258-0.308,2.529,0.214,3.749\
    c0.099,0.228,0.154,0.619-0.199,0.688c-0.426,0.083-0.542-0.339-0.549-0.63c-0.034-1.287-0.014-2.575-0.014-3.863\
    C96.227,52.94,96.409,52.959,96.592,52.979z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M122.09,69.472c1.188-0.259,2.042-0.201,2.531,0.805\
    c0.079,0.164,0.034,0.447-0.057,0.62c-0.114,0.21-0.312,0.133-0.411-0.062C123.764,70.064,122.843,70.104,122.09,69.472z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M98.66,119.981c-0.161-0.238-0.209-0.275-0.208-0.312\
    c0.031-0.924-0.22-1.896,0.44-2.711c0.036-0.043,0.315,0.012,0.329,0.061C99.493,118.039,99.084,118.927,98.66,119.981z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M157.981,78.315c-0.224-1.042-2.321-1.974-0.325-3.124\
    c0.287-0.164,0.697-0.381,0.826,0.015C158.835,76.286,158.381,77.297,157.981,78.315z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M105.577,134.139c-0.121,1.786-0.684,3.274-0.426,4.817\
    C105.01,137.421,104.323,135.85,105.577,134.139z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M124.681,41.191c-0.195,0.57-0.522,0.356-0.814,0.308\
    c-0.414-0.069-1.039,0.063-0.812-0.686c0.105-0.347,0.237-0.993,0.697-0.817C124.218,40.175,124.088,41.018,124.681,41.191z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M116.447,46.248c-0.397,0.102-0.695,0.025-0.651-0.42\
    c0.047-0.488,0.461-0.525,0.827-0.476c0.362,0.051,0.99-0.093,0.929,0.494C117.483,46.521,116.775,46.02,116.447,46.248z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M168.047,76.611c0.443-0.516,0.888-1.031,1.33-1.549\
    c0.171-0.2,0.335-0.543,0.632-0.234c0.234,0.242,0.043,0.539-0.17,0.71c-0.532,0.426-1.093,0.814-1.643,1.218\
    C168.146,76.708,168.097,76.66,168.047,76.611z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M169.113,87.54c-0.115,0.519-0.596,0.685-1.062,0.803\
    c-0.243,0.062-0.471-0.203-0.32-0.418c0.274-0.389,0.599-0.799,1.001-1.02C168.961,86.779,169.092,87.2,169.113,87.54z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M147.305,67.441c0.023,0.851,0.319,1.71-0.199,2.468\
    c-0.027,0.041-0.389-0.035-0.432-0.129C146.271,68.868,146.771,68.148,147.305,67.441z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M125.695,46.979c-0.024,0.438-0.261,0.556-0.554,0.503\
    c-0.429-0.077-0.55-0.432-0.553-0.808c-0.001-0.263,0.183-0.401,0.448-0.359C125.456,46.38,125.602,46.7,125.695,46.979z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M123.353,99.547c0.933,0.26,1.431,0.459,1.496,1.107\
    c0.009,0.095-0.244,0.315-0.362,0.307C123.762,100.905,123.833,100.245,123.353,99.547z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M115.664,44.169c-0.027,0.263-0.001,0.693-0.342,0.613\
    c-0.701-0.165-0.666-0.832-0.82-1.414c0.744-0.093,0.835,0.547,1.191,0.83L115.664,44.169z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M171.705,86.027c0.719-0.205,1.142-0.164,1.402,0.318\
    c0.039,0.075-0.056,0.323-0.121,0.337C172.475,86.79,172.158,86.487,171.705,86.027z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M129.258,73.126c-0.178-0.515-0.357-1.028-0.632-1.818\
    C129.43,71.887,129.712,72.375,129.258,73.126z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M99.214,108.336c0.672,0.562,0.44,1.127-0.016,2.07\
    C98.95,109.48,99.713,108.889,99.214,108.336z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M155.819,66.156c0.305-0.04,0.538,0.137,0.423,0.355\
    c-0.176,0.334-0.465,0.636-0.77,0.866c-0.199,0.151-0.511,0.009-0.5-0.264C154.993,66.588,155.424,66.359,155.819,66.156z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M115.693,44.198c0.042-0.358-0.271-0.896,0.403-0.943\
    c0.293-0.021,0.533,0.256,0.517,0.535c-0.044,0.729-0.64,0.222-0.95,0.379L115.693,44.198z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M170.301,76.802c-0.288,0.426-0.482,0.974-1.1,0.797\
    c-0.077-0.022-0.178-0.242-0.146-0.322C169.291,76.685,169.881,76.959,170.301,76.802z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M141.672,51.76c-1.036-0.209-1.194-0.764-1.606-1.785\
    C140.742,50.726,141.078,51.101,141.672,51.76z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M118.455,28.704c-0.947,0.369-1.383,0.584-1.867,0.334\
    c-0.058-0.03-0.081-0.302-0.028-0.343C117.058,28.305,117.478,28.758,118.455,28.704z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M144.133,51.24c-0.586,0.749-0.755,1.246-1.372,1.169\
    c-0.071-0.008-0.183-0.23-0.164-0.333C142.732,51.343,143.327,51.627,144.133,51.24z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M151.726,75.347c0.57-0.294,1.141-0.588,1.711-0.883\
    c-0.458,0.527-0.829,1.273-1.681,0.858L151.726,75.347z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M172.404,78.191c-0.212-0.023-0.348-0.139-0.287-0.352\
    c0.086-0.298,0.325-0.436,0.621-0.396c0.093,0.013,0.242,0.184,0.232,0.266C172.936,78.025,172.706,78.163,172.404,78.191z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M125.566,76.077c0.412,0.199,0.757,0.395,0.722,0.88\
    c-0.005,0.068-0.242,0.204-0.307,0.174C125.554,76.926,125.471,76.561,125.566,76.077z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M92.545,56.562c-0.504,0.344-0.909,0.447-1.324,0.147\
    c-0.045-0.032-0.014-0.293,0.052-0.334C91.679,56.125,92.086,56.085,92.545,56.562z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M151.969,77.068c0.384,0.054,0.776-0.194,1.031,0.198\
    c0.038,0.057-0.068,0.303-0.124,0.309C152.488,77.613,152.228,77.387,151.969,77.068z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M151.756,75.322c-1.103-0.854,0.346-0.813,0.347-1.279\
    c0.313,0.593-0.418,0.807-0.376,1.304C151.726,75.347,151.756,75.322,151.756,75.322z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M134.295,55.972c-0.5-0.233-0.837-0.409-0.814-0.913\
    c0.003-0.061,0.123-0.171,0.174-0.163C134.21,54.977,134.076,55.486,134.295,55.972z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M125.513,42.254c-0.092,0.601-0.277,0.775-0.58,0.715\
    c-0.114-0.023-0.28-0.235-0.268-0.342c0.033-0.275,0.22-0.482,0.527-0.464C125.365,42.173,125.531,42.26,125.513,42.254z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M122.685,43.662c-0.709-0.165-1.103-0.193-1.234-0.681\
    C122.058,42.623,122.212,43.095,122.685,43.662z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M119.371,29.439c-0.081-0.037-0.188-0.086-0.296-0.136\
    c0.142-0.151,0.268-0.326,0.435-0.44c0.059-0.041,0.309,0.052,0.318,0.111C119.879,29.271,119.609,29.312,119.371,29.439z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M54.735,136.609c0.241-0.562,0.532-0.832,1.093-0.938\
    C55.718,136.316,55.292,136.426,54.735,136.609z')
    path.cavalry-red(fill-rule='evenodd', clip-rule='evenodd', fill='#EEEEEE', d='M81.674,87.747c-0.54-0.18-0.758-0.689-0.745-1.077\
    c0.033-0.956-0.389-1.693-0.776-2.506c-0.501-1.051,0.095-2.125,0.852-2.604c2.385-1.51,4.515-3.417,7.139-4.561\
    c1.044-0.456,1.583-0.124,2.088,0.803c0.64,1.173-0.429,0.996-0.909,1.281c-2.034,1.215-4.043,2.455-6.27,3.33\
    c-1.003,0.395-0.742,1.433-0.332,2.154c0.726,1.277-0.32,2.02-0.733,2.955C81.942,87.627,81.778,87.677,81.674,87.747z\
    M86.081,76.761c0.925,0.18,1.774-0.267,2.432-0.975c0.417-0.449,0.189-0.942-0.124-1.231c-1.212-1.121-1.772-2.274-0.643-3.798\
    c0.252-0.341,0.054-0.82-0.277-1.115c-0.385-0.343-0.676-0.037-0.932,0.226c-1.851,1.903-2.667,4.341-3.475,6.791\
    c1.068-1.36,1.562-3.117,2.96-4.245c-0.742,1.383-0.336,3.107-1.409,4.445C85.168,76.696,85.555,76.658,86.081,76.761z\
    M82.522,74.425c-2.041,2.266-3.091,5.399-6.037,6.881c-0.179,0.09-0.295,0.351-0.387,0.556c-0.115,0.255,0.005,0.521,0.282,0.45\
    c0.977-0.249,1.882-0.078,2.811,0.249c0.383,0.135,0.603-0.23,0.487-0.598c-0.26-0.826,0.187-1.389,0.606-2.006\
    c1.197-1.761,1.458-3.97,2.667-5.778C82.806,74.259,82.627,74.309,82.522,74.425z M92.711,60.094\
    c1.035,0.224,1.1-0.752,1.556-1.242c0.168-0.182,0.264-0.512-0.002-0.564c-0.562-0.112-1.174-0.201-1.722-0.089\
    c-0.708,0.146-0.953,0.922-1.68,1.558C91.648,59.897,92.183,59.979,92.711,60.094z M98.911,57.172\
    c0.974-1.246,2.542-1.949,3.072-3.595C100.859,54.684,99.18,55.32,98.911,57.172z M95.616,65.638\
    c-0.092,0.365-0.141,1.08,0.236,1.107c0.877,0.065,0.675-0.952,1.12-1.416C96.476,65.393,95.831,64.787,95.616,65.638z\
    M82.96,77.392c-0.742,0.71-0.993,1.392-0.985,2.646C82.615,79.036,82.931,78.373,82.96,77.392z M96.874,59.751\
    c-0.293-0.166-0.496,0.126-0.576,0.391c-0.205,0.679,0.357,0.813,0.975,1.174C97.214,60.665,97.453,60.077,96.874,59.751z\
    M99.84,57.467c0.02,0.221,0.225,0.329,0.389,0.186c0.189-0.167,0.36-0.398,0.438-0.636c0.063-0.189-0.123-0.304-0.339-0.275\
    C100.011,56.88,99.809,57.113,99.84,57.467z M105.409,76.988c0.816-0.054,1.25-0.082,2.172-0.143\
    C106.62,76.367,106.21,76.662,105.409,76.988z M77.453,88.104c0.021-0.04-0.134-0.251-0.222-0.262\
    c-0.438-0.054-0.617,0.201-0.651,0.623C76.99,88.596,77.269,88.438,77.453,88.104z M98.54,61.227\
    c-0.019,0.503,0.237,0.724,0.797,0.856C99.223,61.508,99.066,61.195,98.54,61.227z M83.992,78.18\
    c-0.02,0.058,0.158,0.261,0.199,0.248c0.323-0.101,0.509-0.337,0.575-0.775C84.267,77.613,84.095,77.873,83.992,78.18z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M200.254,78.341c-0.896,0.706-0.633-0.39-0.922-0.66\
    c-1.196,0.801-0.54,2.162-1.045,3.161c-0.385,0.763-0.568,1.626-1.061,2.366c-0.437,0.657-0.882,1.258-0.958,2.173\
    c-0.101,1.228-2.263,2.552-3.428,2.104c-0.715-0.275-1.479-0.109-2.168-0.541c-0.494-0.31-0.516,0.271-0.507,0.641\
    c0.007,0.318,0.095,0.657,0.012,0.949c-0.145,0.512-0.393,0.994-0.613,1.525c-0.492-0.338-0.304-0.775-0.298-1.148\
    c0.008-0.397,0.287-0.816-0.069-1.169c-0.076-0.075-0.359-0.046-0.472,0.036c-0.451,0.333-0.672,0.839-0.434,1.333\
    c0.425,0.887-0.286,1.298-0.564,1.91c-0.613-0.259-0.058-0.829-0.426-1.104c-0.293-0.074-0.466,0.105-0.454,0.343\
    c0.073,1.455,0.146,2.91,0.288,4.358c0.052,0.538,0.118,1.15-0.406,1.312c-0.624,0.194-0.588-0.545-0.754-0.914\
    c-1.555-3.441-0.309-6.398,1.601-9.253c0.391-0.584,0.705-0.248,1.146-0.128c0.769,0.211,0.92,0.608,0.38,1.466\
    c1.178-0.413,1.095-1.119,1.084-1.842c-0.015-1.135-0.054-2.3,1.001-3.1c0.589,0.505,0.182,1.043,0.13,1.254\
    c0.047-0.204,0.485-0.744-0.161-1.226c1.736-1.577,1.833-3.885,2.664-5.871c0.955-2.288,1.435-4.791,2.87-6.857\
    c0.648-0.933,1.832-1.203,2.869-1.523c1.159-0.359,2.375-0.535,3.666-0.513c-1.397,0.594-2.796,1.188-4.517,1.921\
    c1.541,0.383,2.646-0.098,3.806-0.266c-0.186,1.164-1.356,1.274-2.01,1.919c-0.185,0.182-0.533,0.273-0.438,0.608\
    c0.038,0.132,0.269,0.301,0.412,0.3c1.833-0.008,0.438,0.843,0.274,1.221c-0.123,0.28-0.571,0.415-0.867,0.626\
    c-0.385,0.274-0.85,0.629-0.409,1.094c0.479,0.506,0.707-0.187,0.929-0.422c0.967-1.021,1.872-2.1,2.82-3.137\
    c0.196-0.214,0.394-0.6,0.777-0.404c0.475,0.242-0.276,0.603,0.003,0.893c0.549-0.122,0.505-0.934,1.139-0.908\
    c0.282,0.27,0.14,0.636-0.029,0.734c-1.646,0.974-0.645,2.879-1.48,4.145c-0.225,0.342,0.539,0.808,0.606,0.879\
    c2.188,2.282-0.29,3.058-1.293,4.283c-0.081,0.097-0.145,0.208-0.224,0.325c0.451,0.403,0.773-0.106,1.146-0.101\
    c0.399,0.007,0.927-0.593,1.163,0.12c0.18,0.537,0.304,1.163-0.405,1.564c-1.761,0.997-3.735,1.438-5.589,2.194\
    c-0.551,0.225-0.524-0.258-0.56-0.64c-0.167-1.808,1.458-1.825,2.622-2.493c-1.626-0.94-1.142-2.276-0.874-3.569\
    c0.152-0.102-0.087,0.019,0.082-0.055C200.339,78.241,200.321,78.269,200.254,78.341z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M223.034,130.271c0.5-1.716,0.726-3.753,0.885-5.811\
    c0.062-0.798,0.693-0.955,1.275-0.356c1.74,1.791,3.233,3.825,5.296,5.304c0.574,0.413,0.657,1.071,0.412,1.746\
    c-0.274,0.754-0.926,0.612-1.505,0.644c-1.54,0.084-3.073,0.012-4.513,0.849C224.078,133.114,222.954,131.79,223.034,130.271z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M228.447,112.622c1.91,0.298,2.95,1.765,3.949,3.056\
    c1.875,2.423,3.486,5.048,5.237,7.568c0.832,1.197-0.118,1.797-0.828,2.334c-0.479,0.361-0.547-0.232-0.709-0.634\
    c-1.173-2.889-2.556-5.657-4.489-8.142c-0.982-1.263-2.562-1.36-3.713-2.23c-0.373-0.283-1.327-0.171-1.006-1.004\
    C227.132,112.938,227.869,112.81,228.447,112.622z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#AAAAAA', d='M248.237,155.462c-0.668,0.824-1.671,1.044-2.638,1.509\
    c0.06-0.516,0.642-1.066-0.246-1.333c-0.722-0.218-1.1-0.943-0.831-1.493c0.282-0.583,1.086-1.382,1.547-1.313\
    c1.007,0.15,2.092-0.046,2.934,1.319c1.003,1.627-0.079,1.18-0.795,1.342L248.237,155.462z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M236.663,37.438c0.954,0.323,1.96,0.628,1.917,2.027\
    c-0.038,1.205-0.229,2.466,0.985,3.339c0.239,0.172,0.525,0.635,0.122,0.947c-0.448,0.347-0.816,0.021-0.966-0.38\
    c-0.636-1.713-1.729-3.07-3.103-4.24c-0.34-0.289-0.386-0.701-0.178-1.126C235.683,37.512,236.122,37.453,236.663,37.438z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M204.143,44.793c0.015-0.626,0.939-1.135,0.172-1.642\
    c-0.686-0.454-0.727,0.409-1.053,0.703c-0.156,0.142-0.425,0.323-0.573,0.274c-0.336-0.111-0.237-0.491-0.155-0.707\
    c0.415-1.102,0.791-2.233,1.354-3.26c0.447-0.815,1.199-0.397,1.812-0.082c0.519,0.27,1.176,0.532,0.757,1.318\
    c-0.492,0.926-0.996,1.822-1.11,2.909C205.282,44.901,204.701,44.835,204.143,44.793z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M242.429,137.257c0.86,0.06,2.872,2.173,2.909,2.956\
    c0.013,0.26-0.068,0.481-0.305,0.536c-0.298,0.07-0.872,0.112-0.885,0.058c-0.293-1.189-1.689-1.472-2.073-2.556\
    C241.917,137.806,241.811,137.344,242.429,137.257z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M187.328,100.523c0-0.775-0.037-1.554,0.008-2.326\
    c0.076-1.292,1.72-1.764,1.601-3.2c0.483,1.251-0.118,2.475,0.313,3.655c-0.765-1.198-1.076-1.147-1.393,0.217\
    c-0.133,0.571-0.259,1.144-0.388,1.715C187.422,100.563,187.375,100.543,187.328,100.523z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M196.129,33.08c0.311,0.988,0.24,1.961,0.776,2.884\
    c0.34,0.584-0.591,0.652-0.937,0.875c-0.444,0.284-0.438-0.294-0.486-0.555C195.266,35.143,195.624,34.103,196.129,33.08z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M210.817,65.752c0.022,0.5-2.157,1.857-2.517,1.659\
    c-0.109-0.06-0.224-0.339-0.175-0.414c0.549-0.841,1.323-1.352,2.336-1.438C210.591,65.548,210.733,65.704,210.817,65.752z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M210.298,76.517c0.091-1.5,0.091-1.5-0.88-2.247\
    c0.718-0.817,1.388-0.504,1.827,0.199C211.809,75.37,211.187,75.923,210.298,76.517z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#AAAAAA', d='M161.388,42.521c0.679-1.4,2.475-0.877,3.346-1.946\
    C164.078,42.016,163.27,43.19,161.388,42.521z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M194.466,39.656c-0.28,0.589-0.175,1.196,0.121,1.805\
    c0.133,0.275,0.091,0.579-0.255,0.654c-0.351,0.076-0.423-0.197-0.505-0.49c-0.219-0.778,0.192-1.661-0.41-2.381\
    c-0.053-0.064,0.053-0.385,0.155-0.432c0.188-0.085,0.466-0.135,0.641-0.056C194.566,38.918,194.492,39.286,194.466,39.656z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M237.324,53.264c-0.053-1.232,0.708-1.738,1.071-2.439\
    c0.198-0.383,0.628-0.317,0.974-0.191c0.129,0.046,0.293,0.253,0.286,0.377c-0.02,0.366-0.329,0.567-0.635,0.617\
    C238.201,51.76,237.682,52.231,237.324,53.264z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M195.932,68.713c0.725-1.412,1.864-1.936,3.832-1.647\
    C198.248,67.746,196.925,67.875,195.932,68.713z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M212.647,29.71c0.884-0.219,1.557,0.075,2.045,0.732\
    c0.074,0.1-0.09,0.559-0.178,0.568C213.549,31.125,213.275,30.164,212.647,29.71z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M197.601,29.086c-0.715,1.696,0.554,1.398,1.224,1.815\
    c-0.821,0.515-1.558,0.404-2.074-0.099C196.179,30.248,196.798,29.843,197.601,29.086z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M201.251,44.299c0.118,0.106,0.18,0.137,0.179,0.166\
    c-0.022,0.887-0.507,1.502-1.203,1.973c-0.17,0.114-0.432,0.004-0.407-0.186C199.941,45.329,200.658,44.856,201.251,44.299z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M224.775,47.252c0.081,0.755,0.335,1.548-0.327,2.435\
    C224.088,48.671,224.413,47.958,224.775,47.252z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M187.274,103.563c0.311,0.768,0.863,1.515,0.154,2.527\
    C187.212,105.155,186.943,104.394,187.274,103.563z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M214.397,55.574c-0.234-1.064-0.005-1.617,0.611-1.979\
    c0.102-0.061,0.454,0.055,0.463,0.12C215.581,54.522,214.842,54.793,214.397,55.574z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M218.374,69.296c-0.021,0.243-0.108,0.543-0.382,0.351\
    c-0.271-0.191-0.86,0.062-0.828-0.511c0.021-0.369,0.343-0.546,0.692-0.529C218.271,68.624,218.343,68.958,218.374,69.296z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M241.208,136.337c-0.688-0.074-1.051-0.711-1.198-1.581\
    C240.436,135.317,240.862,135.88,241.208,136.337z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M199.059,81.692c-0.278-0.061-0.387-0.261-0.329-0.505\
    c0.071-0.299,0.1-0.702,0.52-0.688c0.122,0.004,0.319,0.315,0.335,0.5C199.613,81.342,199.435,81.613,199.059,81.692z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M184.557,109.177c1.002-0.583,1.678-0.551,2.521,0\
    C186.214,109.177,185.532,109.177,184.557,109.177z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M247.988,156.602c0.979-0.271,1.461-0.406,2.245-0.624\
    C249.602,156.764,249.124,156.979,247.988,156.602z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M188.595,110.324c0.941,0.573,1.227,1.031,1.108,1.99\
    C189.318,111.624,189.057,111.154,188.595,110.324z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M227.738,36.902c-0.08-0.686,0.192-1.103,0.986-1.264\
    C228.657,36.351,228.082,36.54,227.738,36.902z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M202.009,60.105c-0.115,0.069-0.247,0.205-0.394,0.224\
    c-0.399,0.049-0.588-0.197-0.597-0.567c-0.006-0.243,0.174-0.306,0.378-0.239C201.654,59.606,201.923,59.696,202.009,60.105z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M225.574,45.015c0.286,0.427,0.351,0.757,0.042,1.056\
    c-0.047,0.044-0.295-0.013-0.328-0.081C225.118,45.639,225.127,45.305,225.574,45.015z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M234.97,31.276c-0.451,0.3-0.828,0.395-1.249,0.271\
    c-0.062-0.02-0.138-0.277-0.093-0.33C234.015,30.753,234.416,31.039,234.97,31.276z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M204.18,145.142c-0.856-0.173-1.085-0.743-1.434-1.18\
    C203.451,143.987,203.84,144.374,204.18,145.142z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M192.151,43.191c0.171-0.781,0.275-1.261,0.381-1.739\
    C192.789,42.003,192.973,42.541,192.151,43.191z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M205.572,66.509c0.15-0.105,0.326-0.326,0.485-0.314\
    c0.169,0.013,0.425,0.228,0.455,0.389c0.05,0.267-0.234,0.337-0.458,0.359C205.81,66.967,205.626,66.87,205.572,66.509z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M229.046,37.532c0.137,0.63,0.033,0.955-0.496,1.149\
    C228.326,38.171,228.62,37.913,229.046,37.532z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M192.509,46.63c0.285-0.323,0.471-0.816,1.044-0.646\
    c0.07,0.021,0.161,0.247,0.125,0.315c-0.279,0.521-0.757,0.346-1.193,0.305C192.483,46.604,192.509,46.63,192.509,46.63z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M206.434,39.747c-0.118-0.196-0.195-0.323-0.272-0.45\
    c0.14-0.075,0.285-0.217,0.417-0.206c0.109,0.009,0.205,0.195,0.307,0.305C206.759,39.493,206.632,39.591,206.434,39.747z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#777777', d='M192.896,39.742c-0.101,0.291-0.09,0.593-0.397,0.552\
    c-0.102-0.013-0.225-0.265-0.241-0.419c-0.024-0.23,0.058-0.492,0.356-0.451C192.73,39.439,192.82,39.653,192.896,39.742z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M163.756,12.628c0.56-1.481,1.119-2.964,1.679-4.445\
    c0.185,0.758-0.386,1.51,0.408,2.066c0.321,0.226,0.975,0.43,1.127,0.098c0.288-0.631,0.799-0.991,1.196-1.482\
    c0.65-0.802,0.818-0.195,0.979,0.253c0.41,1.143-0.894,2.68-2.007,2.136C165.245,10.328,164.587,11.204,163.756,12.628z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M171.886,15.015c0.29-0.019,0.509,0.216,0.408,0.397\
    c-0.506,0.899-1.047,1.782-1.64,2.626c-0.145,0.205-0.39-0.006-0.478-0.26C169.987,17.228,171.339,15.03,171.886,15.015z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M168.341,14.433c-0.498-0.527-0.82-0.841-1.108-1.183\
    c-0.256-0.301-0.475-0.632-0.752-1.008C167.642,12.316,168.283,13.033,168.341,14.433z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M171.073,10.721c0.015,0.261-0.094,0.519-0.356,0.448\
    c-0.464-0.126-0.787-0.463-0.826-0.975c-0.021-0.279,0.147-0.426,0.432-0.354C170.774,9.954,170.983,10.29,171.073,10.721z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M166.83,7.399c0.408-0.061,0.575,0.188,0.641,0.525\
    c0.04,0.206-0.111,0.386-0.295,0.322c-0.276-0.096-0.618-0.234-0.749-0.461C166.285,7.541,166.629,7.472,166.83,7.399z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M167.237,15.825c-0.019,0.4-0.246,0.44-0.471,0.437\
    c-0.207-0.002-0.532,0.066-0.506-0.258c0.012-0.152,0.273-0.37,0.448-0.399C166.877,15.575,167.08,15.753,167.237,15.825z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M172.069,18.767c0.07,0.581,0.118,0.97,0.227,1.871\
    C171.729,19.798,171.522,19.431,172.069,18.767z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M171.328,8.353c-0.117,0.631-0.565,0.625-1.028,0.493\
    c-0.103-0.029-0.236-0.358-0.199-0.399c0.385-0.409,0.828-0.089,1.253-0.065C171.354,8.382,171.328,8.353,171.328,8.353z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#FFFFFF', d='M169.894,11.419c-0.109,0.349-0.195,0.636-0.512,0.649\
    c-0.113,0.005-0.337-0.201-0.334-0.304c0.01-0.275,0.166-0.533,0.47-0.564C169.64,11.188,169.778,11.348,169.894,11.419z')
    path(fill-rule='evenodd', clip-rule='evenodd', d='M98.333,102.621c-0.041-0.765,0.502-0.922,1.208-1.112\
    c-0.171,0.766-0.72,0.905-1.237,1.082C98.303,102.592,98.333,102.621,98.333,102.621z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#222222', d='M116.259,36.08c-0.025-0.694-0.034-1.154,0.474-1.36\
    c0.113-0.047,0.419,0.07,0.439,0.158C117.327,35.525,116.718,35.619,116.259,36.08z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#333333', d='M87.131,74.067c0.05,0.627,0.01,1.068-0.509,1.251\
    c-0.093,0.034-0.366-0.155-0.399-0.281C86.059,74.399,86.584,74.316,87.131,74.067z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#222222', d='M191.155,82.188c1.752,0.977-0.119,2.119,0.228,3.16\
    c-1.265-1.018-0.298-2.118-0.196-3.188C191.187,82.159,191.155,82.188,191.155,82.188z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#222222', d='M202.015,74.096c0.183,1.011,0.125,1.756-0.6,2.317\
    c-0.211,0.163-0.511,0.146-0.506-0.131C200.92,75.456,201.325,74.798,202.015,74.096z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#222222', d='M200.254,78.341c0.098-0.38,0.159-1,0.676-0.755\
    c0.679,0.323,0.562,1.103,0.648,1.967c-0.618-0.438-0.568-1.341-1.351-1.243C200.227,78.31,200.254,78.341,200.254,78.341z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#222222', d='M203.47,78.722c-0.897,0.082-1.035-0.29-1.245-0.997\
    C202.705,78.11,202.983,78.332,203.47,78.722z')
    path(fill-rule='evenodd', clip-rule='evenodd', fill='#222222', d='M205.673,41.435c-0.05,0.513,0.045,1.159-0.68,1.15\
    c-0.622-0.007-1.227-0.355-1.266-1.031c-0.039-0.696,0.598-1.064,1.171-1.145C205.587,40.312,205.61,40.955,205.673,41.435z')
