svg#Layer_1(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', width='148.871px', height='178.13px', viewbox='0 -8.87 148.871 178.13', enable-background='new 0 -8.87 148.871 178.13', xml:space='preserve')
  g
    g
      path(fill='#222222', d='M74.481,110.293c1.851-0.901,2.343-0.612,3.613,2.347c0.981-3.4,2.508-6.269,4.797-8.707\
      c2.627-2.795,5.608-5.125,9.024-6.859c1.146-0.584,1.922-1.25,1.863-3.076c-3.371,3.232-8.232,3.42-11.234,6.914\
      c0.599-1.646,1.802-2.645,3.316-3.346c2.578-1.195,5.01-2.613,7.172-4.484c1.646-1.43,2.352-3.977,1.691-6\
      c-0.264-0.805-0.854-0.758-1.459-0.863c-4.211-0.721-5.465-2.451-4.662-6.657c-1.969,0.675-2.912,2.738-4.885,3.256\
      c1.92-3.096,2.076-3.24,5.412-4.81c0.498-0.234,1.271-0.463,0.973-1.072c-0.359-0.744-0.928,0.024-1.387,0.181\
      c-0.32,0.108-0.66,0.281-0.885,0.523c-4.06,4.37-9.886,5.781-14.759,8.784c-2.797,1.723-5.843,2.824-9.25,2.027\
      c-0.263-0.062-0.584-0.094-0.823,0.002c-3.079,1.197-5.128-0.494-7.079-2.487c-0.136-0.141-0.289-0.268-0.446-0.409\
      c-0.678,1.559-0.668,1.586,0.81,2.508c2.189,1.371,2.258,1.598,1.039,3.883c-0.505,0.949-0.815,1.99-0.636,3\
      c0.616,3.455-1.357,5.272-4.022,6.715c-0.06-0.086-0.203-0.217-0.179-0.271c0.832-1.803,2.208-3.299,2.044-5.604\
      c-0.092-1.299,0.56-2.775,1.68-3.889c1.585-1.574,1.438-2.033-0.581-3.082c-0.362-0.189-0.699-0.428-1.166-0.715\
      c-1.61,3.856-3.146,7.672-4.792,11.438c-1.466,3.358-3.189,6.594-5.369,9.547c-0.975,1.322-0.314,3.074-1.426,4.358\
      c-0.397,0.459-0.68,1.104-1.258,1.275c-2.707,0.807-2.965,3.381-4.016,5.391c-0.21,0.4-0.14,0.66,0.085,1.084\
      c1.218,2.302,0.92,3.849-1.408,4.923c-2.71,1.25-2.408,3.754-3.052,5.899c-0.119,0.398,0.124,0.521,0.485,0.709\
      c2.28,1.23,2.328,2.49,0.288,4.076c-0.42,0.326-1.127,0.219-1.376,1.1c1.43-0.373,2.467,0.023,3.733,0.736\
      c1.59,0.894,3.712,0.65,5.393-0.807c3.209-2.779,4.727-6.527,6.265-10.316c1.576-3.887,2.561-7.94,3.776-11.902\
      c1.496-4.866,2.168-10.196,5.197-14.586c0.857-1.237,0.877-2.7,0.784-4.188c-0.161-2.629,0.519-5.006,2.522-6.924\
      c-1.375,3.107-1.441,6.371-1.479,9.666c-0.016,1.691-1.58,2.836-2.006,4.48c-0.84,3.258-1.633,6.526-3.47,9.463\
      c-1.081,1.727-0.743,3.896-1.105,5.856c-0.087,0.476,0.011,1.004-0.161,1.438c-1.816,4.58,0.73,7.543,4.104,9.678\
      c5.317,3.359,9.982,7.373,14.148,12.041c0.895,0.998,1.303,2.141,1.512,3.406c0.023,0.127-0.018,0.375-0.004,0.379\
      c0.92,0.123,1.326,0.508,0.752,1.42c-0.646-0.844-1.861,1.539-2.317-0.408c-1.135,0.504-1.852-0.959-3.047-0.574\
      c-1.684,0.547-3.125-0.154-4.229-1.426c-3.346-3.852-7.156-7.057-11.936-9.014c-0.923-0.379-1.729-1.031-2.591-1.562\
      c-0.523,0.882-1.019,1.781-1.576,2.64c-1.557,2.379-3.528,4.42-5.396,6.549c-5.761,6.553-8.04,14.016-5.952,22.641\
      c0.216,0.883,0.633,1.906-0.633,2.67c-2.643-8.469-1.75-16.303,3.607-23.49c-5.252-0.916-10.547,5.154-9.374,10.676\
      c0.59,2.775,1.768,5.367,2.648,8.05c0.338,1.026,0.807,2.039,0.571,3.217c-2.58-4.558-4.815-9.242-4.597-14.668\
      c0.091-2.233,1.169-4.164,3.007-5.459c3.09-2.172,6.281-4.199,9.404-6.271c-2.041-1.299-4.325-1.592-6.873-0.807\
      c-3.065,0.947-6.015-0.146-8.922-0.979c-5.577-1.594-10.762,0.152-14.126,4.881c-0.422,0.592-0.967,1.264-1.651,0.896\
      c-0.893-0.479-0.412-1.367-0.041-1.99c0.622-1.041,1.37-2.004,1.956-3.152c-1.983,0.867-4.248,0.984-5.822,2.738\
      c-0.968,1.072-2.075,2.026-3.146,3.006c-0.324,0.295-0.564,0.979-1.122,0.662c-0.522-0.301-0.462-0.926-0.375-1.5\
      c0.278-1.838,1.125-3.402,2.262-4.822c3.54-4.422,7.418-8.564,11.085-12.871c4.377-5.143,9.455-9.467,14.406-13.975\
      c3.808-3.463,3.932-8.142,3.768-12.838c-0.047-1.31-0.236-2.621-0.184-3.927c0.078-1.981,1.405-3.618,3.34-3.897\
      c1.188-0.168,1.413-0.756,1.234-1.646c-0.255-1.274,0.527-1.739,1.454-2.104c1.729-0.675,3.446-1.398,5.223-1.929\
      c2.309-0.688,4.39-1.562,5.547-3.896c0.436-0.883,1.295-1.449,2.268-1.687c1.016-0.246,1.272-0.884,1.188-1.828\
      c-0.333-3.751-0.917-7.437-1.761-11.134c-1.118-4.906-3.26-9.753-2.024-14.996c0.267-1.135-0.557-1.111-1.21-1.111\
      c-1.997,0-3.995,0.139-5.99,0.113c-6.193-0.076-12.174-1.385-18.054-3.234c-1.227-0.386-2.471-0.937-2.695-2.296\
      c-0.244-1.459,1.09-2.088,2.055-2.844c2.408-1.88,5.414-2.737,7.825-4.63c1.877-1.476,3.421-3.19,4.577-5.284\
      c1.066-1.931,2.254-3.778,3.55-5.579c1.353-1.878,1.226-4.33,1.736-6.529c0.701-3.023,1.313-6.062,2.409-8.979\
      C45.244,4.667,50.876,0.87,59.891,0.18c16.421-1.253,30.86,3.975,43.776,13.458c10.779,7.911,19.81,17.606,25.603,29.924\
      c0.832,1.771,1.405,3.622,1.392,5.574c-0.013,1.571-0.604,2.712-2.552,2.233c-10.446-2.563-21.062-0.687-31.588-1.192\
      c-1.142-0.056-1.629,0.506-1.858,1.485c-0.729,3.081-1.355,6.19-2.539,9.146c-0.197,0.488-0.195,0.977,0.479,1.119\
      c0.475,0.102,0.764,0.421,0.75,0.859c-0.111,3.393,1.238,6.229,3.105,8.961c1.268,1.856,2.135,3.879,4.865,4.151\
      c2.454,0.245,4.858,0.983,7.295,1.464c1.2,0.238,1.864,0.818,2.219,2.082c0.879,3.111,1.986,3.871,5.227,3.684\
      c3.357-0.196,5.545,1.342,7.055,4.234c0.828,1.589,2.055,2.98,3.568,3.914c3.025,1.865,3.711,4.994,4.654,8.007\
      c0.084,0.272-0.023,0.756-0.225,0.946c-2.32,2.152-1.503,4.912-1.234,7.418c0.24,2.304,0.748,4.711,1.74,6.785\
      c3.891,8.101,2.705,16.553,2.133,24.988c-0.103,1.51-0.394,3.014-0.414,4.527c-0.021,1.295-0.625,1.641-1.777,1.682\
      c-2.484,0.08-5.152,0.85-7.4,0.178c-2.18-0.647-4.246,0.26-6.184-0.406c-2.871-0.983-5.432-0.028-8.008,0.849\
      c-1.154,0.394-1.879-0.535-2.936-0.584c-1.558-0.078-2.849,0.28-4.229,0.67c-0.313,0.092-0.681,0.336-0.877-0.133\
      c-0.062-0.152-0.011-0.42,0.094-0.56c0.781-1.059,0.961-2.645,2.646-2.957c-1.863,0.101-3.385,1.066-5.041,1.609\
      c-0.523,0.174-1.06,0.688-1.515,0.611c-2.452-0.422-4.596,0.498-6.795,1.4c1.197-1.562,3.127-1.984,4.431-3.404\
      c-1.873,0.727-3.746,1.453-5.601,2.17c-0.226-0.51-0.203-0.738,0.078-0.926c0.219-0.146,0.412-0.34,0.653-0.547\
      c-2.086-1.027-3.885,0.028-5.678,0.608c-1.188,0.381-1.643,0.41-2.553-0.828c-4.246-5.746-5.418-12.364-6.109-19.187\
      c-0.067-0.67,0.015-1.646-0.971-1.42c-0.736,0.17-1.121,0.816-0.979,1.888c0.562,4.233,1.924,8.256,2.939,12.37\
      c0.576,2.33-1.055,3.845-3.445,3.334c-0.871-0.186-1.707-0.467-2.648-0.241c-0.416-0.772,0.57-1.043,0.482-1.815\
      c-0.365-3.216,0.889-4.324,4.077-3.765c0.078-1.147-0.568-2.069-0.92-3.506c-1.839,3.524-4.528,2.11-7.043,1.641\
      c-0.369-0.065-0.931,0.095-1.028-0.467c-0.274-1.578-1.43-1.088-2.645-0.976c0.62-1.473,1.389-2.979-1.094-3.452\
      c0.92-0.824,1.755-1.478,1.412-2.701c-0.095-0.34-0.084-0.908,0.575-0.82c2.048,0.273,1.244-0.508,0.483-1.276\
      c-1.694-1.715-1.542-4.56-0.715-6.769c1.312-3.489,3.704-4.571,7.068-4.539c0.291,0.005,0.586-0.305,0.883-0.467\
      C74.411,111.642,74.754,111.431,74.481,110.293z')
      path(fill='#222222', d='M26.41,163.545c-0.918-0.881-0.973-1.946-1.181-2.903c-0.407-1.877-0.625-3.8-1.042-5.677\
      c-0.77-3.455,0.386-6.262,2.876-8.557c1.979-1.826,4.284-3.222,6.686-4.441c0.471-0.239,1.092-0.731,1.437-0.092\
      c0.305,0.569-0.396,0.978-0.825,1.267c-1.255,0.836-2.542,1.637-3.849,2.395c-4.754,2.754-5.914,5.365-5.004,10.787\
      C25.897,158.653,26.795,160.942,26.41,163.545z')
      path(fill='#222222', d='M51.306,111.381c-0.007,0.203,0.071,0.476-0.031,0.597c-2.144,2.52-2.537,5.582-2.746,8.703\
      c-0.108,1.627-0.622,3.079-1.617,4.395c-0.403,0.533-0.663,1.205-0.856,1.855c-1.44,4.782-2.308,6.008-6.66,8.885\
      c1.648-1.98,3.79-3.601,4.887-6.431c-0.804,0.656-1.368,1.121-2.21,1.808c0.333-2.004,1.054-3.592,2.084-4.863\
      c2.3-2.84,3.975-5.84,4.342-9.57c0.205-2.072,1.272-3.895,2.845-5.342L51.306,111.381z')
      path(fill='#222222', d='M85.737,94.347c0.613-2.357,2.369-3.765,2.947-5.863c0.278-1.002,1.918-1.549,3.19-1.123\
      c1.066,0.358,2.031,1.139,1.779,2.447c-0.238,1.229-0.262,2.741-2.268,2.646C89.408,92.362,87.708,93.347,85.737,94.347z')
      path(fill='#222222', d='M80.227,148.872c-1.035,0.816-2.188,1.008-3.315,0.281c-1.15-0.738-1.517-1.914-1.191-3.25\
      c0.303-1.252,1.113-2.016,2.375-2.279c0.568-0.115,1.207-0.111,1.412,0.494c0.203,0.605-0.398,0.836-0.859,0.912\
      c-1.191,0.205-1.629,0.91-1.477,2.041c0.166,1.236,1.082,1.201,2.014,1.176C79.576,148.237,80.035,148.217,80.227,148.872z')
      path(fill='#FFFFFF', d='M74.481,110.293c0.627-0.112,1.229-0.137,1.748,0.336c0.485,0.438,0.433,0.957,0.231,1.502\
      c-0.299,0.83-0.725,0.17-1.067,0.063c-1.119-0.34-1.904-0.106-2.174,1.193c-0.604-0.693-0.076-1.469-0.242-2.17\
      C73.481,110.911,73.981,110.603,74.481,110.293z')
      path(fill='#222222', d='M44.65,158.308c-2.11-0.31-4.221-0.613-6.334-0.92c2.253-0.972,4.358-0.599,6.415,0.252\
      C44.705,157.862,44.678,158.083,44.65,158.308z')
      path(fill='#222222', d='M51.342,111.417c0.495-1.137,0.479-1.965-1.279-1.697c0.902-1.537,2.653-2.312,2.759-4.17\
      c-0.063,2.072,0.416,4.254-1.516,5.832L51.342,111.417z')
      path(fill='#222222', d='M47.02,150.556c-2.102-0.312-4.186-0.728-6.324-0.798C42.965,148.657,45.042,149.209,47.02,150.556z')
      path(fill='#222222', d='M80.458,144.704c0.088,0.521,0.062,0.938,0.229,1.242c0.308,0.557,0.728,1.123,0.021,1.574\
      c-0.654,0.416-0.984-0.158-1.445-0.613c-1.119-1.105,0.096,1.121-0.99,0.264C77.507,145.368,79.548,145.534,80.458,144.704z')
      path(fill='#222222', d='M51.104,142.965c-1.743,0.688-3.39-0.141-5.092-0.164C47.738,141.864,49.432,142.101,51.104,142.965z')
      path(fill='#FFFFFF', d='M88.196,50.725c-0.184-1.59,0.136-3.009,1.316-4.182c0.711-0.707,1.284-1.242,2.481-0.711\
      c1.17,0.519,1.746,1.04,1.623,2.396c-0.406,4.431-1.227,8.697-4.186,12.246c-0.088,0.105-0.146,0.307-0.242,0.324\
      c-2.898,0.516-1.861,2.996-2.092,4.612c-0.586,4.116-2.389,7.357-6.002,9.386c-3.949,2.211-7.65,4.961-12.172,6.023\
      c-4.923,1.159-9.58,0.986-13.561-2.66c-2.341-2.144-3.393-5.004-4.289-7.905c-1.182-3.82-1.779-7.78-2.492-11.707\
      c-0.271-1.512-0.183-3.051,0.312-4.51c0.504-1.494,0.586-3.032,0.19-4.488c-0.539-1.991,0.059-2.691,2.034-2.351\
      c0.38,0.065,0.813-0.188,1.14,0.166c0.011,0.087,0.053,0.182,0.022,0.211c-2.512,2.629-2.49,2.914,0.188,5.752\
      c0.404,0.428,0.65,0.787,0.992,0.02c0.157-0.348,1.287-0.627,0.186-1.084c-1.002-0.413-0.716-0.962-0.401-1.618\
      c1.983,1.471,1.983,1.471,4.49,0.094c0.3,0.504,0.237,0.968-0.29,1.214c-0.765,0.357-1.414,0.619-0.007,0.963\
      c0.492,0.12,0.377,0.487,0.276,0.817c-0.776,2.573,0.851,5.173-0.387,7.931c-0.541,1.204,1.915,2.322,3.228,3.241\
      c0.499,0.351,1.76-0.068,1.142,1.3c-0.144,0.313,0.211,0.43,0.509,0.408c0.352-0.025,0.695-0.073,0.758-0.524\
      c0.23-1.674,1.322-2.425,2.799-3.095c1.623-0.736,1.262-2.136,0.344-3.588c0.096,2.261-0.927,3.109-2.992,2.84\
      c-0.337-0.045-0.802,0.27-1.078,0.545c-0.568,0.566-0.984,1.513-1.956,0.623c-0.833-0.763-1.939-1.42-1.223-2.896\
      c0.595-1.222,0.451-2.56,0.422-3.873c-0.028-1.307-0.073-2.601,0.268-3.903c1.107-4.244-0.744-6.672-5.153-6.871\
      c-0.681-0.031-1.361-0.062-2.041-0.091c6.111-0.785,12.224-1.293,18.375-1.134c3.379,0.088,6.77-0.229,10.137,0.249\
      c0.799,0.112,1.867-0.013,0.971,1.4c-0.407,0.64,0.187,0.845,0.736,0.665c0.453-0.146,0.85-0.453,1.287-0.647\
      c0.402-0.179,0.631-0.952,1.172-0.537c0.5,0.387,0.246,1.005,0.092,1.542c-0.312,1.057-0.69,2.098-0.625,3.23\
      c0.111,1.855,0.627,2.131,2.326,1.268c0.281-0.143,0.668-0.088,1.006-0.124c0.424-0.047,0.703,0.181,0.924,0.503\
      c0.402,0.453,0.941,0.8,1.088,1.444c-0.131-0.747-0.827-1.061-1.229-1.603c0.139-1.438,1.145-2.473,1.783-3.662\
      c0.408-0.767,1.168-0.925,1.629,0.203c-0.953-1.072-1.52-0.936-2.135,0.583C89.555,49.987,89.498,50.994,88.196,50.725z')
      path(fill='#FFFFFF', d='M84.229,13.831c-1.045,0.019-0.785,0.785-0.901,1.434c-0.615,3.395-1.302,6.776-2.048,10.611\
      c-0.754-0.944-0.459-2.323-1.764-1.957c-2.009-1.396-0.224-3.027-0.281-4.097c0.091,1.055-1.803,2.698,0.32,4.056\
      c0.243,0.821,0.506,1.828-0.726,1.851c-0.766,0.013-2.25,1.094-2.424-1.033c-0.553,1.145-0.934,2.109,0.422,2.895\
      c1.748,1.012,2.695,0.779,3.812-0.975c0.137,2.07-0.291,2.627-2.084,2.713c-1.93,0.093-3.34-1.07-3.258-2.882\
      c0.156-3.439,0.361-6.882,0.678-10.31c0.24-2.61,0.703-5.2,1.021-7.803c0.114-0.949,0.674-2.08-1.33-1.879\
      c-1.29,0.129-1.597-1.173-0.676-2.298c0.254-0.311,0.543-0.593,0.916-1.002c-2.007-0.876-4.237,0.129-6.05-1.093\
      c11.11-1.049,21.47,4.257,26.634,12.172c-3.023-2.844-5.572-5.45-8.691-7.371c-1.293-0.797-2.699-0.351-2.965,1.201\
      c-0.328,1.915-1.342,3.779-0.654,5.813L84.229,13.831z')
      path(fill='#FFFFFF', d='M78.628,121.825c0.181-0.658,0.709-0.998,1.256-1.293c0.861-0.469,1.562-0.533,1.146,0.787\
      c-0.256,0.826,0.162,1.49,0.34,2.197c0.771,3.059,0.537,3.375-2.377,2.985c2.619,3.224,5.801,3.199,7.816-0.121\
      c-0.59-0.739-1.814,0.856-2.191-0.534c-0.231-0.855-0.289-1.783-1.094-2.365c-0.715,0.401,0.48,1.158-0.389,1.61\
      c-1.396-1.2-1.287-2.743-0.918-4.289c0.424-1.788-0.604-1.768-1.719-1.354c-1.15,0.43-2.084,1.264-2.871,2.352\
      c-0.515-1.711,0.406-2.495,1.569-3.106c2.164-1.131,2.173-1.115,0.703-3.164c-0.155-0.225-0.313-0.445-0.506-0.717\
      c-0.832,0.506,1.617,2.414-0.974,2.088c0.195-1.006,0.39-2.004,0.576-2.965c0.99-0.357,0.869,1.114,1.836,0.797\
      c0.146-0.957-1.184-1.25-1.127-2.201c0.431-0.141,0.564,0.256,0.732,0.479c1.037,1.4,2.104,1.947,3.395,0.27\
      c0.131-0.17,0.488-0.161,0.738-0.233c0.35,0.412,0.094,1.09,0.625,1.422c0.037,0.078,0.076,0.16,0.113,0.24\
      c0.064,0.461-0.266,1.168,0.199,1.328c0.729,0.254,0.695-0.638,0.998-1.027c0.588-0.75,0.682-2.62,1.521-2.229\
      c1.363,0.634-0.213,1.767-0.391,2.707c-0.068,0.349-0.271,0.644,0.168,0.82c0.319,0.129,0.514-0.141,0.655-0.354\
      c0.152-0.222,0.224-0.494,0.347-0.738c0.286-0.563,0.289-1.42,1.291-1.272c0.243,0.037,0.584-0.076,0.646,0.293\
      c0.137,0.813-0.729,0.881-1.061,1.356c-0.582,0.845-1.258,1.621-1.6,2.609l0.039-0.035c-2.687-1.498-4.386-1.526-5.627-0.052\
      c0.819,0.408,1.6-0.102,2.395-0.069c2.984,0.138,4.904,2.269,4.412,5.207c-1.078,6.438-4.664,7.213-9.605,6.271\
      c-1.848-0.352-2.646-2.807-1.477-4.17c0.301-0.352,0.242-0.701,0.025-0.899c-1.213-1.136-0.281-1.882,0.43-2.679\
      c0.275,0.261,0.562,0.5,0.723,0.576C79.255,122.256,78.949,122.036,78.628,121.825z')
      path(fill='#FFFFFF', d='M115.216,89.325c0.91,0.428,1.951,0.018,1.857,1.561c-0.049,0.756,0.639,1.605,1.104,2.338\
      c0.983,1.547,1.743,3.146,1.354,5.027c-0.138,0.668,0.018,1.199,0.637,1.191c0.686-0.008,0.367-0.734,0.471-1.158\
      c0.58-2.379-0.955-4.182-1.695-6.191c-0.357-0.98-0.674-1.883,0.123-2.906c-0.057,2.726,3.43,3.965,2.701,6.959\
      c-0.096,0.388,0.334,0.742,0.82,0.742c0.625-0.004,0.553-0.506,0.562-0.897c0.035-1.503-0.838-2.607-1.771-3.609\
      c-0.799-0.856-1.398-1.69-1.055-3.098c1.521,2.551,3.508,4.653,4.53,7.375c0.569,1.526,0.037,2.963-0.291,4.422\
      c-0.037,0.17-0.28,0.289-0.396,0.457c-0.838,1.188-0.866-1.604-2.022-0.326c-1.312,1.457-0.774-1.03-1.502-1.041\
      c-0.916,0.254-0.021,1.883-1.383,1.679c-0.431-0.062-0.853-0.281-0.935-0.691c-0.184-0.943,1.01-0.039,1.09-0.896\
      c-1.633-0.039-1.989-1.211-2.227-2.562c-0.109-0.625,1.684-1.013,0.174-1.722c1.84-1.274-0.107-1.84-0.543-2.612\
      C116.139,92.157,115.389,91.015,115.216,89.325z')
      path(fill='#FFFFFF', d='M46.648,87.043c1.122,0.935,1.66,1.899,2.933,1.617c0.68-0.152,0.569,0.387,0.565,0.928\
      c-0.021,2.117-1.175,3.998-1.262,6.063c-0.206,4.937-2.708,8.875-5.33,12.781c-0.446,0.668-0.839,1.494-2.025,1.158\
      c0.964-1.957,1.961-3.873,2.86-5.836c1.465-3.197,2.353-6.568,1.549-10.053C45.414,91.422,47.201,89.661,46.648,87.043z')
      path(fill='#FFFFFF', d='M94.164,132.258c-2.246,1.699-3.379-0.545-4.931-1.19c-0.34-0.142-0.521-0.688-0.996-0.625\
      c-0.317,0.041-0.729,0.135-0.903,0.358c-0.342,0.435,0.104,0.488,0.416,0.642c0.826,0.399-0.523,1.117,0.405,1.623\
      c0.548-0.234,1.072-1.342,2.138-0.562c-0.75,1.271-0.746,2.869-1.779,4.215c-1.537-1.729-1.834-4.092-3.439-5.635\
      c-0.072-0.07-0.09-0.262-0.055-0.379c0.188-0.627,3.576-1.902,4.127-1.52C90.753,130.299,92.85,130.668,94.164,132.258z')
      path(fill='#FFFFFF', d='M100.35,86.263c-1.795-1.113-4.065-1.414-5.213-3.457c-0.382-0.679-0.556-1.124,0.11-1.517\
      c1.017-0.597,1.5-1.6,2.103-2.509c1.062-1.605,2.437-1.971,4.291-1.521c1.354,0.33,1.604,1.436,1.438,2.22\
      c-0.248,1.157-1.207,1.059-2.287,0.565c-1.523-0.695-3.074-0.912-3.867,1.242c-0.486,1.324-0.914,2.38,1.131,2.534\
      C99.475,83.931,99.274,85.719,100.35,86.263z')
      path(fill='#FFFFFF', d='M101.164,84.205c0.551-0.301,1.021-0.556,1.485-0.809c-0.26-0.638-0.795-0.715-1.207-0.449\
      c-1.008,0.648-1.897,0.116-2.851-0.083c-0.493-0.104-0.776-0.259-0.647-0.785c0.13-0.51,0.593-0.637,0.976-0.497\
      c2.371,0.866,4.186,0.369,5.291-2.031c0.215-0.472,0.658-0.434,1.072-0.416c1.813,0.074,2.192,1.535,2.479,2.845\
      c0.281,1.28-1.062,0.858-1.676,1.187c-0.779,0.42-1.631,0.706-2.438,1.084C102.887,84.606,102.153,85.018,101.164,84.205z')
      path(fill='#FFFFFF', d='M88.087,118.2c0.756-0.273,1.17-0.945,1.705-1.471c0.361-0.355,0.691-1.105,1.299-0.517\
      c0.605,0.586-0.299,0.722-0.51,1.063c-0.199,0.324-0.647,0.523-0.44,1.146c1.03-0.127,1.563-1.031,2.323-1.541\
      c0.623-0.418,1.326-0.645,1.941-0.352c0.727,0.344,0.387,1.156,0.191,1.664c-0.975,2.527,0.713,3.938,2.299,5.373\
      c-0.77,0.67-1.488,0.524-2.256,0.412c-1.139-0.164-2.258-0.693-3.457-0.246c-0.271,0.102-0.775,0.201-0.809-0.297\
      c-0.047-0.603,0.43-0.533,0.86-0.533c1.226,0.008,2.345,0.805,3.726,0.498c-0.228-1.285-1.433-1.621-2.074-2.42\
      c-0.809-1,0.533-2.025,0.137-3.375c-1.553,0.875-3.105,2.891-4.891,0.549C88.126,118.165,88.087,118.2,88.087,118.2z')
      path(fill='#FFFFFF', d='M114.317,99.499c-0.006,0.443-0.008,0.801-0.371,0.982c-0.485,0.237-0.784-0.035-0.979-0.439\
      c-0.422-0.877-1.805-1.537-0.653-2.783c-0.987-0.523-0.662-1.873-0.651-2.326c0.026-2.227-3.22-3.227-1.976-5.692\
      c0.138-0.277-0.11-0.964,0.553-0.798c0.367,0.093,0.72,0.336,0.687,0.886c-0.141,2.584,1.82,4.428,2.502,6.754\
      C113.766,97.241,113.712,98.513,114.317,99.499z')
      path(fill='#FFFFFF', d='M85.852,135.653c-0.731-0.992-0.312-2.082-1.312-2.676c-0.547,0.705,0.06,1.432-0.039,2.104\
      c-0.067,0.451-0.127,0.879-0.637,0.879c-0.732,0-0.412-0.496-0.307-0.859c0.197-0.666,0.223-1.074-0.73-0.83\
      c-0.684,0.172-0.397-0.506-0.445-0.811c-0.104-0.676-0.063-1.373-0.512-2.098c-0.641,0.457-0.613,1.113-0.662,1.74\
      c-0.043,0.491,0.188,1.266-0.801,0.901c-0.729-0.267-0.988-0.603-0.023-0.938c-0.293-0.814-1.377-1.256-1.108-2.336\
      C83.858,130.569,86.055,132.088,85.852,135.653z')
      path(fill='#FFFFFF', d='M92.083,125.692c0.396,0.707,1.824,0.606,1.394,1.574c-0.384,0.85-1.326-0.488-2.022,0.045\
      c0.022,0.106,0.028,0.229,0.069,0.334c0.272,0.662,2.031,0.211,1.319,1.469c-0.682,1.207-1.504,0.021-2.268-0.215\
      c-2.117-0.656-1.639-1.904-0.891-3.375c0.789-1.553,2.109-0.619,3.178-0.83c0.104-0.021,0.389,0.256,0.375,0.369\
      C93.153,125.774,92.354,125.157,92.083,125.692z')
      path(fill='#FFFFFF', d='M46.719,24.144c0.693-1.162,0.596-2.516,0.907-3.771c0.314-1.254,0.391-2.57,1.264-4.192\
      c1.197,5.433-2.168,9.639-2.255,14.37c-0.473-1.101-0.131-2.166-0.129-3.234C46.112,26.228,45.758,25.143,46.719,24.144z')
      path(fill='#FFFFFF', d='M41.741,89.383c-0.03,0.634-0.731,0.777-0.931,1.271c-0.164,0.4-0.86,0.703,0.244,1.217\
      c0.865,0.4,0.527,2.396-0.19,2.604c-1.567,0.441-1.8,1.688-2.429,3.096c-0.439-4.639-0.444-6.866,3.334-8.153L41.741,89.383z')
      path(fill='#FFFFFF', d='M115.1,94.627c1.012,0.375-0.453,1.565,0.834,2.115c0.789,0.334,0.646,1.424,0.562,2.243\
      c-0.062,0.604-0.461,0.761-1.019,0.744c-0.625-0.022-0.567-0.416-0.547-0.844c0.151-2.869-1.437-5.258-2.279-7.84\
      c-0.221-0.668,0.285-1.084,0.048-1.664c-0.08-0.193,0.559-0.281,0.877-0.137c0.688,0.32,0.352,0.926,0.373,1.445\
      c0.043,0.887-0.259,1.881,0.983,2.36C115.313,93.204,115.957,93.874,115.1,94.627z')
      path(fill='#FFFFFF', d='M125.46,101.392c1.312-4.582-0.651-7.765-3.651-11.062C126.934,92.806,128.791,98.331,125.46,101.392z')
      path(fill='#FFFFFF', d='M99.41,90.661c-0.474,1.924,0.641,3.656,1.012,5.523c0.127,0.646,0.326,1.272-0.525,1.491\
      c-0.838,0.216-1.227-0.262-1.463-1.038c-0.336-1.109-0.027-2.15,0.059-3.238c0.111-1.349-0.152-2.726-0.119-4.086\
      c0.01-0.422-0.057-1.289,0.713-1.188c0.619,0.078,0.406,0.726,0.338,1.211C99.364,89.737,99.41,90.153,99.41,90.661z')
      path(fill='#FFFFFF', d='M118.438,85.228c-4.408,1.961-8.597-0.728-13.358-0.438C109.936,82.525,114.067,86.379,118.438,85.228z')
      path(fill='#FFFFFF', d='M108.666,97.704c-2.254-0.303-4.842-4.582-4.668-7.711C105.212,92.672,107.303,94.799,108.666,97.704z')
      path(fill='#FFFFFF', d='M77.125,119.278c-1.069,1.104-2.917,1.096-3.821,0.076c-0.531-0.599-0.189-0.877,0.135-1.371\
      c0.455-0.695,1.064-1.01,1.797-1.244c0.703-0.221,1.535-0.74,1.968,0.236c0.43,0.981-0.783,0.885-1.17,1.348\
      c-0.146,0.172-0.523,0.139-0.58,0.506c0.09,0.504,0.562,0.156,0.812,0.322C76.526,119.321,76.905,118.769,77.125,119.278z')
      path(fill='#222222', d='M88.196,50.725c0.714-1.088,1.451-2.16,2.134-3.266c0.362-0.583,0.771-0.993,1.498-0.74\
      c0.717,0.251,0.844,0.846,0.731,1.505c-0.108,0.671-0.177,1.374-0.437,1.989c-0.254,0.601,0.254,1.157-0.031,1.895\
      c-1.348-1.198,0.064-2.738-0.897-4.053c-1.055,1.23-0.627,3.394-2.467,3.979c-0.06,0.054-0.115,0.105-0.17,0.159\
      c-0.358,0-0.646-0.102-0.728-0.5C87.951,51.37,88.071,51.047,88.196,50.725z')
      path(fill='#FFFFFF', d='M125.574,48.359c-1.562-0.587-2.775-1.132-3.55-3.087c-1.293-3.286-2.239-6.764-4.19-9.793\
      c1.405,1.058,1.989,2.628,2.649,4.133c0.688,1.57,1.267,3.19,1.938,4.771c0.684,1.607,2.108,2.654,3.119,4.019L125.574,48.359z')
      path(fill='#FFFFFF', d='M69.826,115.44c-0.802-0.697-1.516-1.293-1.868,0.354c-0.192,0.91-0.853,1.711-0.592,2.73\
      c0.17,0.668-0.189,0.793-0.781,0.824c-0.742,0.039-0.914-0.49-0.7-0.888c1.175-2.168,1.414-5.049,4.38-5.903\
      c0.322-0.095,0.578-0.343,0.912-0.041c0.406,0.364,0.135,0.758,0.068,1.141c-0.021,0.127-0.08,0.312-0.172,0.352\
      C70.285,114.347,69.81,114.838,69.826,115.44z')
      path(fill='#FFFFFF', d='M49.733,95.989c1.812-3.4,0.589-7.785,3.98-10.893C52.432,88.931,51.756,92.692,49.733,95.989z')
      path(fill='#FFFFFF', d='M101.41,88.601c-0.664,3.33-0.441,6.473,1.623,9.229C100.565,95.157,99.235,92.249,101.41,88.601z')
      path(fill='#FFFFFF', d='M46.719,24.144c0.045,1.065,0.172,2.136-0.213,3.173c-0.633,0.477-1.252,0.136-1.096-0.443\
      c0.603-2.23-0.409-4.504,0.535-6.755C46.205,21.46,46.463,22.802,46.719,24.144z')
      path(fill='#FFFFFF', d='M73.389,80.956c-3.454,1.969-7.267,2.143-11.098,2.262c-0.368,0.012-0.539-0.106-0.505-0.409\
      c0.054-0.477,0.479-0.451,0.791-0.387c2.28,0.472,4.473-0.184,6.705-0.436C70.729,81.824,71.936,80.966,73.389,80.956z')
      path(fill='#FFFFFF', d='M37.785,101.397c-1.339,0.627-1.722-0.242-2.047-0.949c-0.609-1.324,0.328-4.25,1.726-5.527\
      C37.486,97.144,35.128,99.364,37.785,101.397z')
      path(fill='#FFFFFF', d='M71.383,125.758c-0.277-0.914-0.549-1.813-0.824-2.715c-0.211-0.688,0.076-1.274,0.611-1.569\
      c0.361-0.197,1.008-0.207,1.373-0.013c0.781,0.418-0.031,0.924-0.104,1.386C72.282,123.851,72.856,125.127,71.383,125.758z')
      path(fill='#FFFFFF', d='M72.178,117.804c-0.15,0.352-0.186,0.647-0.352,0.807c-0.707,0.66-1.498,1.162-2.54,0.965\
      c-0.326-0.061-0.508-0.281-0.389-0.576c0.375-0.934,0.452-2.025,1.354-2.697c0.313-0.232,0.616-0.279,0.911,0.012\
      c0.25,0.248,0.197,0.564-0.043,0.697c-0.58,0.316-1.536,0.572-0.905,1.379C70.885,119.239,71.303,117.708,72.178,117.804z')
      path(fill='#FFFFFF', d='M74.512,129.165c-0.188,0.391-0.34,0.758-0.543,1.098c-0.357,0.613-0.605,1.703-1.502,1.24\
      c-0.607-0.314-0.711-1.377-0.654-2.17c0.051-0.668,0.848-0.867,0.979-0.41C73.299,130.745,73.852,128.786,74.512,129.165z')
      path(fill='#FFFFFF', d='M73.481,137.883c-0.604,0.058-0.811-0.28-0.908-0.717c-0.174-0.785,0.24-1.34,0.814-1.763\
      c0.551-0.405,1.172-0.764,1.896-0.399c0.299,0.147,0.674,0.377,0.432,0.774c-0.234,0.386-0.353,0.32-0.818-0.01\
      c-0.99-0.694-0.301,0.695-0.748,0.849C74.79,137.562,73.715,137.504,73.481,137.883z')
      path(fill='#FFFFFF', d='M69.127,122.79c-3.039-1.137-3.039-1.137-1.78-3.072C68.36,120.409,68.673,121.497,69.127,122.79z')
      path(fill='#FFFFFF', d='M105.671,98.271c0.019,0.562,0,1.192-0.489,1.069c-1.695-0.414-0.498-2.196-1.343-3.11\
      c-0.403-0.437,0.224-0.584,0.476-0.511C105.708,96.118,105.264,97.493,105.671,98.271z')
      path(fill='#FFFFFF', d='M32.325,43.555c2.381-0.719,4.76-1.436,7.14-2.154C37.426,43.233,34.839,43.291,32.325,43.555z')
      path(fill='#FFFFFF', d='M96.423,93.92c0.648,0.947,0.339,1.634,0.261,2.279c-0.074,0.627,0.237,1.446-0.601,1.788\
      c-0.149,0.062-0.588-0.184-0.633-0.354c-0.195-0.725-0.574-1.701,0.025-2.135C96.016,95.11,95.958,94.506,96.423,93.92z')
      path(fill='#FFFFFF', d='M45.358,14.962c0.306-0.146,0.95-1.181,0.796,0.106c-0.224,1.871-0.793,3.699-1.295,5.897\
      c-0.734-2.347,0.306-4.155,0.531-6.042L45.358,14.962z')
      path(fill='#FFFFFF', d='M92.643,122.208c-0.894-0.324-1.99,0.615-2.406-0.828c-0.391-1.357,0.423-1.521,1.464-1.426\
      C91.139,120.983,92.428,121.26,92.643,122.208z')
      path(fill='#FFFFFF', d='M98.375,42.01c-1.662,0.578-3.267,1.496-5.297,0.844C94.757,41.459,96.608,41.978,98.375,42.01z')
      path(fill='#FFFFFF', d='M105.813,78.381c3.662-0.163,3.217,2.95,4.371,4.674C108.85,81.49,108.078,79.434,105.813,78.381z')
      path(fill='#FFFFFF', d='M77.178,114.231c-3.395,2.703-4.211,2.803-4.584,0.582C74.292,116.211,75.444,114.25,77.178,114.231z')
      path(fill='#FFFFFF', d='M72.952,9.994c0.148-0.48-0.043-1.231,0.875-1.056c0.668,0.13,1.154,0.439,1.104,1.23\
      c-0.055,0.871-0.867,0.938-1.363,1.005C72.67,11.292,73.047,10.462,72.952,9.994z')
      path(fill='#FFFFFF', d='M117.583,87.208c1.041-0.23,1.893-0.412,2.742-0.605c0.416-0.094,0.963-0.565,1.006,0.357\
      c0.032,0.58-0.533,0.844-0.775,0.584C119.617,86.536,118.582,88.894,117.583,87.208z')
      path(fill='#FFFFFF', d='M76.212,12.278c-0.588,0.397-0.791,1.337-1.546,1.354c-0.492,0.011-0.871-0.712-0.855-1.241\
      c0.027-0.669,0.76-0.984,1.239-1.135C75.557,11.098,75.899,11.734,76.212,12.278z')
      path(fill='#FFFFFF', d='M42.051,94.588c-0.137-0.422-0.214-0.549-0.213-0.678c0.005-0.918-0.366-1.914,0.436-2.687\
      c0.197-0.192,0.672-0.117,0.67,0.144C42.942,92.411,43.002,93.5,42.051,94.588z')
      path(fill='#FFFFFF', d='M43.783,94.558c-0.461,1.83-1.595,2.45-2.388,3.338c-0.19,0.211-0.475,0.262-0.707,0.008\
      c-0.23-0.262-0.14-0.49,0.092-0.697C41.643,96.444,42.506,95.683,43.783,94.558z')
      path(fill='#FFFFFF', d='M87.292,11.738c-0.029,0.13,0.043,0.804-0.767,0.638c-0.426-0.087-0.998-0.108-1.039-0.744\
      c-0.047-0.716,0.478-0.872,1.031-0.956C87.065,10.591,87.479,10.686,87.292,11.738z')
      path(fill='#FFFFFF', d='M35.626,121.743c-0.335,1.141,0.809,1.934,0.001,2.729c-0.225,0.223-1.003-0.035-1.207-0.486\
      C34.002,123.063,34.554,122.461,35.626,121.743z')
      path(fill='#FFFFFF', d='M116.203,45.801c1.002,0.391,2.014-2.479,3.116,0.087C118.207,45.97,117.201,46.426,116.203,45.801z')
      path(fill='#FFFFFF', d='M125.541,48.401c1.395,0.648,2.606-0.724,3.963-0.494c-1.207,1.371-2.504,1.683-3.93,0.452L125.541,48.401\
      z')
      path(fill='#FFFFFF', d='M84.914,112.687c0.332-0.845,1.162-1.097,2.051-1.709c-0.402,1.481-0.777,2.705-1.65,3.729l0.051,0.028\
      C84.494,114.211,85.08,113.368,84.914,112.687z')
      path(fill='#222222', d='M84.914,112.687c1.01,0.491,0.225,1.385,0.45,2.051c-0.555,0.99-1.383-0.088-2.057,0.334\
      c0.098-0.938,1.03-1.264,1.269-2.025C84.688,112.926,84.8,112.806,84.914,112.687z')
      path(fill='#FFFFFF', d='M58.785,82.034c1.352,0.8,2.339,1.527,1.875,3.438C59.969,84.2,59.432,83.222,58.785,82.034z')
      path(fill='#FFFFFF', d='M97.207,88.028c0,1.104-0.017,2.238-1.285,3.084C95.703,89.688,96.475,88.879,97.207,88.028z')
      path(fill='#FFFFFF', d='M86.358,10.19c-0.754,0.034-0.627-0.501-0.637-0.967c-0.017-0.681,0.424-1.059,0.979-1.062\
      c0.582-0.006,0.627,0.59,0.668,1.062C87.43,9.958,86.955,10.14,86.358,10.19z')
      path(fill='#FFFFFF', d='M45.391,14.924c-0.375-2.097-0.336-2.247,1.249-4.498c0.065,1.765-1.135,3.005-1.277,4.531\
      C45.358,14.962,45.391,14.924,45.391,14.924z')
      path(fill='#FFFFFF', d='M128.397,96.104c-0.649-0.941-1.815-1.611-1.972-3.104C127.748,93.731,128.091,94.892,128.397,96.104z')
      path(fill='#FFFFFF', d='M84.182,13.878c0.526,0.314,1.194-0.694,1.61,0.099c0.345,0.644-0.408,0.854-0.729,1.205\
      c-0.152,0.167-0.586,0.347-0.664,0.275c-0.498-0.466-0.41-1.048-0.174-1.626C84.229,13.831,84.182,13.878,84.182,13.878z')
      path(fill='#FFFFFF', d='M49.032,86.358c-0.189-0.965,0.18-1.801,1.089-1.86c1.332-0.085,1.123,0.59,0.162,0.946\
      C49.74,85.647,49.797,86.461,49.032,86.358z')
      path(fill='#FFFFFF', d='M44.367,90.64c0.299,0.741,0.663,1.481,0.018,2.172c-0.215,0.229-0.523,0.217-0.673-0.049\
      C43.224,91.899,43.916,91.313,44.367,90.64z')
      path(fill='#FFFFFF', d='M108.065,89.907c0.021,0.391-0.096,0.756-0.539,0.559c-0.428-0.188-1.243-0.074-1.062-0.914\
      c0.059-0.277,0.424-0.707,0.615-0.691C107.634,88.915,108.104,89.215,108.065,89.907z')
      path(fill='#FFFFFF', d='M103.544,44.086c-0.455,0-1.336,0-2.229,0C102.207,42.788,103.125,44.206,103.544,44.086z')
      path(fill='#FFFFFF', d='M55.944,48.99c-1.621,0.211-2.695,0.812-3.921,0.527C53.134,49.122,54.222,48.61,55.944,48.99z')
      path(fill='#FFFFFF', d='M110.348,98.799c-0.613-0.543-0.599-1.194-0.334-1.819c0.096-0.23,0.545-0.154,0.678,0.069\
      C111.063,97.685,111.022,98.293,110.348,98.799z')
      path(fill='#FFFFFF', d='M75.462,8.538c-0.987-0.284-1.744-0.175-2.21-0.794c-0.082-0.108,0.264-0.785,0.422-0.789\
      C74.555,6.934,74.719,7.787,75.462,8.538z')
      path(fill='#FFFFFF', d='M102.38,94.329c0.552-0.279,1.035-0.525,1.519-0.768c0.067,0.321,0.285,0.846,0.177,0.926\
      C103.583,94.851,103.014,94.853,102.38,94.329z')
      path(fill='#FFFFFF', d='M32.99,136.336c-1.41-0.961-1.41-0.961-1.087-2.174C32.26,134.875,32.57,135.497,32.99,136.336z')
      path(fill='#FFFFFF', d='M41.281,112.75c-1.023-0.56-1.427-1.082-0.555-2.14C41.117,111.247,41.389,111.769,41.281,112.75z')
      path(fill='#FFFFFF', d='M41.77,89.415c0.47-0.371,1.003-0.562,1.619-0.598c-0.532,1.682-0.532,1.682-1.646,0.565\
      C41.741,89.383,41.77,89.415,41.77,89.415z')
      path(fill='#FFFFFF', d='M93.469,41.674c-0.728,0.322-1.453,0.644-2.179,0.967C91.701,41.736,92.475,41.576,93.469,41.674z')
      path(fill='#FFFFFF', d='M91.362,89.271c0.017,1.065-0.549,1.641-1.2,1.59c-0.5-0.041-1.466-0.221-1.396-1.123\
      c0.06-0.764,0.459-1.562,1.312-1.566C90.762,88.161,91.137,88.868,91.362,89.271z')
      path(fill='#222222', d='M72.102,45.072c-0.373,0.667-1.072,0.188-1.305,0.734c0.184,0.39,0.557,0.431,0.877,0.34\
      c2.334-0.662,3.676,1.051,5.219,2.207c0.438,0.327,1.116,1.051,0.731,1.516c-0.709,0.859-0.559,2.499-2.008,2.614\
      c-0.953,0.076-2.006,0.223-3.172-0.296c0.941-0.9,2.387-0.669,3.164-2.285c-1.975,1.081-3.59,2.044-5.133,0.081\
      c-0.317-0.404-1.135,0.117-1.631,0.615c0.422,0.47,1.249,0.507,1.471,1.714c-1.254-0.686-2.848,0.618-3.539-1.596\
      c-0.128-0.407-1.862-0.764-2.605,0.287c-0.301,0.422-0.343,1.028-0.85,1.351C62.292,46.872,64.926,44.539,72.102,45.072z')
      path(fill='#222222', d='M66.862,72.83c-2.504-0.062-4.956-0.75-7.438-0.021c-0.959,0.282-1.087-0.298-0.9-1.216\
      c0.18-0.88,0.545-2.229-1.318-1.752c-0.343,0.087-0.665-0.114-0.767-0.521c-0.077-0.312,0.067-0.682,0.322-0.623\
      c1.646,0.38,2.991-2.549,4.772-0.43c0.04,0.047,0.164,0.092,0.182,0.074c2.475-2.458,5.034,0.834,7.544-0.102\
      c0.407-0.151,1.096-0.134,0.983,0.613c-0.097,0.652-0.598,0.548-1.124,0.391c-2.939-0.881-5.897,0.267-8.851-0.027\
      c-0.375-0.038-0.929,0.098-0.978,0.581c-0.054,0.541,0.352,0.881,0.893,0.919c0.758,0.053,1.533,0.154,2.275,0.049\
      C64.325,70.501,66.086,70.362,66.862,72.83z')
      path(fill='#222222', d='M88.727,52.033c0.524,0.124,1.049,0.277,1.58,0.365c1.01,0.17,1.073,0.914,0.688,1.518\
      c-0.617,0.957-1.439,1.786-2.209,2.635c-0.199,0.216-0.519,0.13-0.691-0.141c-0.33-0.505-0.434-1.092,0.025-1.505\
      c0.905-0.819,1.041-1.688,0.438-2.713C88.612,52.139,88.667,52.087,88.727,52.033z')
      path(fill='#222222', d='M61.664,76.377c0.613,0.281,0.316,0.78,0.421,1.134c0.148,0.502,0.981,1.017,0.173,1.569\
      c-0.173,0.119-0.695-0.04-0.899-0.235c-0.515-0.496-0.783-1.136-0.369-1.829C61.146,76.749,61.449,76.572,61.664,76.377z')
      path(fill='#222222', d='M63.861,59.379c-0.657,0.634-1.279,0.774-1.916,0.387c-0.057-0.034,0.066-0.553,0.23-0.729\
      C62.918,58.245,63.241,59.576,63.861,59.379z')
      path(fill='#222222', d='M79.555,23.878c-0.589,0.295-0.996-0.435-1.552-0.273c-0.45,0.133-0.707,0.392-0.432-0.444\
      c0.748-2.271,0.773-4.672,0.871-7.056c1.951-0.113,2.514,0.539,2.045,2.604c-0.391,1.701-1.826,3.271-0.973,5.21L79.555,23.878z')
      path(fill='#222222', d='M82.66,10.028c-0.945,0.233-1.582,0.473-2.232,0.528c-0.641,0.056-1.217-0.284-1.549-0.832\
      c-0.312-0.516-0.324-1.023,0.434-1.277c0.5-0.166,0.512-0.318,0.076-0.792c-0.719-0.78,0.15-1.52,0.512-2.146\
      c0.586-1.02,0.463,0.387,0.992,0.433c1.861,0.156,2.189,1.18,1.068,2.632C81.403,9.296,81.403,9.296,82.66,10.028z')
      path(fill='#222222', d='M79.766,15.026c-0.498-1.243-1.765-2.341-0.371-3.641c0.519-0.484,1.101-0.01,1.435,0.226\
      c0.606,0.432,0.649,1.227,0.323,1.869C80.841,14.094,79.623,13.878,79.766,15.026z')
      path(fill='#222222', d='M86.944,124.53c-0.088-1.746,0.285-3.715-1.985-4.416c-0.08-0.023-0.162-0.373-0.099-0.484\
      c0.205-0.338,0.574-0.402,0.904-0.246c1.17,0.553,2.188,1.266,2.084,2.756c-0.058,0.797-0.25,1.582-0.379,2.371\
      C87.294,124.521,87.119,124.524,86.944,124.53z')
      path(fill='#222222', d='M78.628,121.825c1.668-0.385,1.777,0.688,1.752,1.879c-0.014,0.656-0.348,1.062-1.012,0.957\
      c-0.967-0.16-0.461-0.488-0.229-1.051c0.195-0.469-0.279-1.213-0.457-1.836C78.68,121.774,78.628,121.825,78.628,121.825z')
      path(fill='#222222', d='M122.917,97.685c0.158,0.821,0.68,1.514,0.225,2.307c-0.158,0.275-0.523,0.26-0.637-0.049\
      C122.237,99.188,121.893,98.388,122.917,97.685z')
      path(fill='#FFFFFF', d='M68.814,48.916c1.53-1.23,4.625-1.389,6.553-0.209C72.924,48.354,70.827,47.898,68.814,48.916z')
      path(fill='#FFFFFF', d='M82.039,7.52c-0.371,0.335-0.629,0.744-0.979,0.84c-0.384,0.105-0.472-0.371-0.526-0.688\
      c-0.07-0.392,0.065-0.732,0.516-0.659C81.362,7.064,81.639,7.307,82.039,7.52z')
