header.header
	.header__container
		a(href='/')
			img.header__logo(src='/static/img/logo.svg', alt='Napoleon Logo')
		h1.header__heading Napoleon was a very naughty boy
		|  
		a#js-mobile-menu.header__nav-menu-button(href='#') MENU
		nav.header__nav
			ul.header__row
				li.header__list
					a.header__link(href='/campaigns/') Campaigns
				li.header__list
					a.header__link(href='/battles/') Battles
				li.header__list
					a.header__link(href='/characters/') Characters